* {
    font-family: 'roboto-bold';
  }

  .saldo{
      border-style: solid;
      border-width: 2px 2px 2px 2px;
      border-color: rgb(25, 149, 231);
      border-radius: 45px 0px 0px 45px;
      right: -6px;
      height: 60px;
      font-size: x-large;
      background-color: rgb(41, 171, 226);
      color: white;
      
  }

  ion-fab-button{
    --background: rgba(255, 255, 255, 0);
    --color:black;
    --box-shadow:none;
   
    --border-width:1px;
    --border-color:black;
    --border-radius:15px;
    
    
  }
 