
    <ion-toolbar>
      

        <ion-buttons slot="start" collapse="true">
          <ion-back-button mode="md" type="button" color="primary" icon="md-arrow-back" defaultHref="home">
          </ion-back-button>
        </ion-buttons>
          <ion-row justify-content-center align-items-start>
            <ion-col size=3>
                <img src="../../assets/iconos/iconos oqr-34.png" alt="">
            </ion-col>
            <ion-col>
                <h1 style="color: rgb(41, 171, 226)">
                    ¡Hola influencer!
                  </h1>
            </ion-col> 
          </ion-row>
    
</ion-toolbar>

<ion-content>
<ion-row justify-content-end>
  <h2> Mi saldo</h2>
  <ion-col size=5>
      <ion-input readonly class="saldo" style="padding-left: 50px;">
          {{saldo | currency}}
          </ion-input>
  </ion-col>

</ion-row>


  <ion-list>

      <ion-item>
          <ion-label>
              Mi canal de ofertas
            </ion-label>
            <ion-icon slot="end" src="../../assets/ionicons/chevron-forward-outline.svg"></ion-icon>
      </ion-item>

    <ion-item>
        <ion-label>
            Ofertas publicitadas
          </ion-label>
          <ion-badge color="primary" fade="round">
              100
            </ion-badge>
            <ion-icon slot="end" src="../../assets/ionicons/chevron-forward-outline.svg"></ion-icon>
    </ion-item>

    <ion-item>
        <ion-label>
            Visualizaciones
          </ion-label>
          <ion-badge color="primary" fade="round">
              300
            </ion-badge>
    </ion-item>

    <ion-item>
        <ion-label>
            Ventas concretadas
          </ion-label>
          <ion-badge color="primary" fade="round">
              150
            </ion-badge>
    </ion-item>

    <ion-item>
        <ion-label>
            Comisiones obtenidas
          </ion-label>
          <ion-badge color="primary" shape="round">
            300
          </ion-badge>

    </ion-item>


  </ion-list>
  <ion-row class="ion-justify-content-center">
      <ion-button color="primary" shape="round" (click)="goTo()">
          Quiero promocionar una oferta
        </ion-button>
  </ion-row>


</ion-content>

<ion-fab vertical="bottom" horizontal="end">
      <ion-fab-button><ion-icon name="md-home" size="large"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="md-share" size="large"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="md-heart" size="large"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="md-chatboxes" size="large"></ion-icon></ion-fab-button>
 
  </ion-fab>