*
{
    font-family: "roboto-black"
}

h1{
    text-align: center;
    
        margin-top: 1px;
        margin-bottom: 1px;
        font-size: 25px;
        color: rgb(41, 171, 226);
    
}

.cont-center
{
    position: absolute;
    top: 45%;
    width: 100%;
    
}

.align-center
{
    margin-top:40%;
}


ion-back-button{

    --background:rgb(41, 171, 226);
    --border-radius: 40px;
   

  }