
<ion-content padding="true">
    <ion-toolbar>
        <ion-buttons slot="start" collapse="true">
            <ion-back-button mode="md" type="button" color="light" icon="md-arrow-back" defaultHref="seller-panel">
            </ion-back-button>
          </ion-buttons>
      <h1>Influencers</h1>
    </ion-toolbar>

    <div *ngIf="influencers">

        <ion-card *ngFor="let i of influencers" class="ion-activatable" (click)="goTo(i.influencer.code)">
                <ion-ripple-effect></ion-ripple-effect>
            <ion-row class="ion-align-items-center" >
                <ion-col size=4>

                        <ion-avatar  *ngIf="i.influencer.profile_img" >
                                <img src="{{i.influencer.profile_img}}" alt="">
                            </ion-avatar>

                            <ion-avatar  *ngIf="!i.influencer.profile_img" >
                                    <img src="../../assets/logoOfertaCerca/logoCelesteFondoBlancoChico.jpg" alt="">
                                </ion-avatar>

                </ion-col>

                <ion-col size=8>
                        <ion-label style="font-size: 18px;">
                                {{i.influencer.code}}
                            </ion-label>
                    </ion-col>

            </ion-row>


                </ion-card>
                

        </div>


        <div class="cont-center" *ngIf="!influencers">
                <ion-row class="justify-content-center">

              <ion-title style="color: rgba(109, 109, 109, 0.753); text-align: center">
                  Nadie esta promocionando esta oferta.
                </ion-title>
            </ion-row>

     
        
                <ion-row class="justify-content-center" style="justify-content: center">
                  <ion-button  shape="round" (click)="goTo('false')" >
                    Ver oferta
                  </ion-button>
                </ion-row>
    </div>




</ion-content>
