*
{
    font-family: "roboto-black"
}

h1{
    text-align: center;
    
        margin-top: 1px;
        margin-bottom: 1px;
        font-size: 25px;
        color: rgb(41, 171, 226);
    
}


ion-back-button{

    --background:rgb(41, 171, 226);
    --border-radius: 40px;
   

  }