
*
{
    font-family: "roboto-black"
}

ion-content{

    --background: rgba(255, 255, 255, 0.651);

    ion-button
    {
        --background: rgba(255, 255, 255, 0.014);
    }

    ion-list
    {
        background-color:rgba(255, 255, 255, 0);
    }

    ion-item
    {
        --background:rgba(255, 255, 255, 0);
        /*--margin: 1px 1px 1px;*/
        height:42px;
        padding-left: 50px;

        
    }

    h2{
        top: 1px;
        bottom: 1px;
        margin: 2px 0px 2px;
        color: rgba(41, 171, 226,132)
    }
}


h1{
    text-align: center;
}


ion-back-button{

    --background:rgb(41, 171, 226);
    --border-radius: 40px;
   

  }

  ion-input{
      height: 50px;
      
      border-style: solid;
      border-width: 0px 0px 2px 0px;
      border-color: rgb(41, 171, 226);
     
      
  }

  ion-select{
    height: 50px;
    width: 320px;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: rgb(41, 171, 226);
  
  }

  ion-slides{
      height: 500px;
  }

  ion-textarea{
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: rgb(41, 171, 226);
    
  }



  .container{
      display: block;
  }

  .nextButton
  {
      margin-top:250px;
  }
  .pay-side
  {
    margin-top:20px;

    h1{
        margin-top: 1px;
        margin-bottom: 1px;
        font-size: 25px;
    }

  }

  .budget-container
  {
      display: inline;
  }
  .total-budget-label
  {
    display: inline-flex;
    height: 90px;
    width: 140px;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: rgb(41, 171, 226);
    border-radius: 45px 0px 0px 45px;
    background-color: rgb(41, 171, 226);
    color: white;
    margin-right: 0px;
    padding: 10px 10px 10px 10px;
  }

  .total-budget
  {
    display: inline-flex;
    height: 90px;
    width: 140px;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: rgb(41, 171, 226);
    border-radius: 0px 45px 45px 0px;
    margin-left: 0px;
    padding: 10px 10px 10px 10px;
    
  }

  .select-currency{
      width: 100%;

  }