ion-content{


    h2{
        top: 1px;
        bottom: 1px;
        margin: 2px 0px 2px;
        color: rgba(41, 171, 226,132)
    }




ion-input{
    height: 50px;
    
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: rgb(41, 171, 226);
   
    
}

ion-card{
    border-radius: 20px;
}
}

