
<ion-content padding="true" class="ion-align-items-center">

          <ion-row class="ion-justify-content-end" >
              <ion-button fill="clear" (click)="dismissModal()"> 
                  <ion-icon name="md-close" size="large" color="primary"></ion-icon>
                  </ion-button>
          </ion-row>



          <ion-title style="font-size: medium" >
            %{{offer.percentage}} de descuento en {{offer.category}}
            </ion-title>

            <ion-list>
                <ion-list-header>
                    <ion-label>Productos</ion-label>
                  </ion-list-header>
              <ion-item *ngFor="let p of products">
                {{p.name}}
              </ion-item>
            </ion-list>

  

          </ion-content>