
<ion-content padding="true" class="ion-align-items-center">

          <ion-row class="ion-justify-content-end" >
              <ion-button fill="clear" (click)="dismissModal()"> 
                  <ion-icon name="md-close" size="large" color="primary"></ion-icon>
                  </ion-button>
          </ion-row>



          <ion-title style="font-size: medium" >
            %{{offer.percentage}} de descuento en {{offer.category}}
            </ion-title>

            <ion-list>
                <ion-list-header>
                    <ion-label>Productos</ion-label>
                  </ion-list-header>
              <ion-item *ngFor="let p of products">
                <ion-col size=9>
                <ion-label>{{p.name}}</ion-label>
              </ion-col>
              <ion-col size=3>
                <ion-button>
                  <ion-icon (click)="selectProduct(p)" name="md-add" >
                  </ion-icon>
                </ion-button>
                <ion-button name="md-remove" >
                </ion-button>
              </ion-col>
              </ion-item>
            </ion-list>

  

          </ion-content>