



<ion-content padding="true">

    <ion-toolbar>

        <ion-buttons slot="start" collapse="true">
            <ion-back-button mode="md" type="button" color="light" icon="md-arrow-back" defaultHref="my-locations">
            </ion-back-button>
          </ion-buttons>
    
          <ion-title color="primary">Selecciona una locacion para tu negocio.</ion-title>
</ion-toolbar>

<ion-row justify-content-center>
  <ion-col size=10>

  
    <ion-input placeholder="Ingresa una direccion." [(ngModel)]="address">
        <span>
          <ion-icon name="md-pin" size="large" color="primary"></ion-icon>
        </span>
        <span class="item-right">
            <ion-button fill="clear" (click)="getGeoCoderCoord()" >
                <ion-icon color="primary" name="md-search">
                  </ion-icon>

            </ion-button>

          </span>
      </ion-input>


      <!-- Para cuando se pague el places <input type="text" class="native-input sc-ion-input-ios" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>-->

    </ion-col>
</ion-row>
<!--
<div class="map-container">

    <agm-map [latitude]='current_latitude' [longitude]='current_longitude' 
  [zoom]="15"
  [mapTypeId]='mapType'>

  <agm-marker
       
        [latitude]="current_latitude"
        [longitude]="current_longitude"
        [opacity]="1"
        [visible]="true"
       
      >
      </agm-marker>
</agm-map>

</div>
-->
<div style="height: 100%; padding-top: 200px" *ngIf="spinner">
    <ion-row  class="ion-justify-content-center">
            <ion-spinner color="primary" ></ion-spinner>
    </ion-row>
    
</div>




<div id="map" ></div>



    <ion-button (click)="addLocation()" fill="outline" shape="round" expand="block" color="primary" [disabled]="!latitude" >Agregar</ion-button>


</ion-content>


