*{
    font-family: 'roboto-black';
}

ion-back-button{
    --background:rgb(41, 171, 226);
}

agm-map { 
    
    height: 450px;

}


h1{
    text-align: center;
    
        margin-top: 1px;
        margin-bottom: 1px;
        font-size: 25px;
    
}


ion-back-button{

    --background:rgb(41, 171, 226);
    --border-radius: 40px;
   

  }

  ion-input{
      height: 50px;
      
      border-style: solid;
      border-width: 0px 0px 2px 0px;
      border-color: rgb(41, 171, 226);
     
      
  }

  .map-container{
    margin-bottom: 50px;
    margin-top: 20px;

  }


  .item-right
{
    position:absolute;
    padding: 11px;
    right: 1px;
 
}













