.selected
{
    --background:rgba(74, 173, 240, 0.973);
    --color:White;
     
}

#spinner
{
    height: 300px;
    display: flex;
    padding-top: 45%;
    justify-content: center;
    vertical-align: middle;

   
 

}