
  <ion-toolbar>
      <ion-buttons slot="start" collapse="true">
          <ion-back-button mode="md" type="button" color="light" icon="md-arrow-back" defaultHref="home">
          </ion-back-button>
        </ion-buttons>
    <ion-title color="primary">Promover esta oferta</ion-title>
  </ion-toolbar>


<ion-content>

  <ion-card padding>
    <img src="../../assets/images/{{offer.category}}.jpg">
   
    <ion-card-title> {{offer.product}} a {{offer.price_currency}} {{offer.price}}  </ion-card-title>
    <ion-card-subtitle> {{offer.description}} </ion-card-subtitle>

    <ion-list>
      
        <ion-item>
            <ion-label>Fecha de publicacion</ion-label>
            <ion-note slot="end">

                  {{offer.date}} 
    
            </ion-note>
        </ion-item>
        <ion-item>
            <ion-label>Cantidad de vendedores</ion-label>
            <ion-note slot="end">              
              <ion-badge>
                {{offer.sellers_cuantity}} 
            </ion-badge>
               </ion-note>
        </ion-item>
        <ion-item>
            <ion-label>Comision por venta</ion-label>
            <ion-note slot="end"> 
                <ion-badge>
                    {{offer.commission}} 
                </ion-badge>
               </ion-note>
          </ion-item>
          <ion-item>
              <ion-label>Comision total</ion-label>
              <ion-note slot="end"> 
                  <ion-badge>
                        {{offer.commission * offer.sellers_cuantity * offer.stock}}
                  </ion-badge>
              </ion-note>
            </ion-item>
            </ion-list>

            <ion-row>
                    <ion-input type="text" placeholder="Ingresa el link de tu video." [(ngModel)]="link" >
                            <span>
                                <ion-icon size="large" name="logo-facebook"></ion-icon>
                            </span>
                        </ion-input>

                        <ion-spinner *ngIf="spinner" name="crescent" color="primary" ></ion-spinner>

                        <ion-button *ngIf="!spinner" (click)="addLink()"> <ion-icon name="md-add" ></ion-icon></ion-button>
            
            </ion-row>
            <p style="text-align: center; color: rgba(196, 70, 70, 0.774)"> {{messaje}} </p>

            <ion-row>
                <ion-input type="text" placeholder="Ingresa el link de tu video." [(ngModel)]="tiktok_link" >
                        <span>
                            <ion-icon size="large" src="../../assets/ionicons/tiktok-icon.svg"></ion-icon>
                        </span>
                    </ion-input>

                    <ion-spinner *ngIf="spinnerTT" name="crescent" color="primary" ></ion-spinner>

                    <ion-button *ngIf="!spinnerTT" (click)="addTikTokLink()"> <ion-icon name="md-add" ></ion-icon></ion-button>
        
        </ion-row>
        <p style="text-align: center; color: rgba(196, 70, 70, 0.774)"> {{messajeTT}} </p>

  </ion-card>
  

      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
          <ion-icon size="large" color="light" name="md-videocam"></ion-icon>
        </ion-fab-button>
      </ion-fab>

</ion-content>





