
<ion-content>
  <ion-toolbar>
    <ion-buttons slot="start" collapse="true">
        <ion-back-button mode="md" type="button" color="light" icon="md-arrow-back" defaultHref="seller-panel">
        </ion-back-button>
      </ion-buttons>
  <h1>Mensajes</h1>
</ion-toolbar>

<div *ngIf="array_chats">
<ion-list *ngFor="let c of array_chats">

</ion-list>
</div>
<div *ngIf="!array_chats">
  <ion-row class="ion-justify-content-center">
      <ion-title style="color: rgba(190, 190, 190, 0.322); text-align: center">
          No tienes ningún mensaje.
        </ion-title>
  </ion-row>

</div>
</ion-content>
