
<ion-content padding="true" fullscreen="true">

    <div class="cont-login">
  
        <ion-row justify-content-center>
            <div class="main-conteiner-logo">
            <div class="logo-conteiner">
            <img src="../../assets/iconos/iconos oqr-48.png" class="logo"/>
          </div>
          </div>
          </ion-row>
  
    </div>
  
    <div class="cont-login">

        <ion-row >
          
          <ion-col size="6" offset="3">
            <ion-button class="btn-face" expand="block" shape="round" (click)="login()" > Iniciar sesión con Facebook</ion-button>
          </ion-col>
        
        </ion-row>
        
        <ion-row>
        
          <ion-col size="6" offset="3">
            <ion-button color="danger" expand="block" shape="round" (click)="login()" > Iniciar sesión con Google</ion-button>
          </ion-col>
        
        </ion-row>

        <ion-row >
            
          <ion-col size="4" offset="4">
              
            <ion-input placeholder=" Username"></ion-input>

          </ion-col>
          
        </ion-row>

        <ion-row >
          
          <ion-col size="4" offset="4">
            
            <ion-input placeholder=" Password"></ion-input>
            <a class="forgot-pass" href="https://localhost:4200/login">Forgot password?</a>
          </ion-col>

        </ion-row>

        <ion-row >
          
          <ion-col size="4" offset="4">
            <ion-button color="success" expand="block" shape="round" (click)="login()">Log In</ion-button>
          </ion-col>

        </ion-row>
      
        <ion-row >
          
          <ion-col class="txt-group" size="4">
          
            <ion-label><h3>No tienes una cuenta?</h3></ion-label>
            <ion-button color="tertiary" shape="round" (click)="register()">Registrate ahora!</ion-button>
            
          </ion-col>

        </ion-row>

  
    </div>
  
  
       
      
  
  
  
  </ion-content>
  