
*
{
    font-family: 'roboto-medium';
    font-size: 13px;
    
}

ion-content{
    /*--padding-top:200px;*/
    --background: rgb(41, 171, 226);


}

.cont-login
{
    margin-top: 10px;
}

.btn-face
{
    --background: rgb(5, 89, 167);
 
}

.logo{
    position: relative;

    margin-top:0%;
    margin-bottom: 5px;
    height: 290px;
    width: 290px;


}

.logo-conteiner
{
    
    background-color: rgba(255, 255, 255, 0.151);
    height: 176px;
    width: 176px;
    border-radius: 50%;
    margin-left:14.5%;
    margin-top:14.5%;

}

.main-conteiner-logo
{
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.151);
    height: 250px;
    width: 250px;
    border-radius: 50%;

}

.line {
    border-bottom: solid 1px white;
    width: 100%;
    height: 2px;
}

ion-input {
    --background: #e5e5e5;
    border-radius: 20px;
}

.forgot-pass {
    color: black;
    padding-top: 5px;
    padding-left: 15px;
}

.text {
    position: relative;
    left: 16%;
}

.register-btn {
    position: relative;
    left: 6%;
}