
<ion-content >

  <ion-grid>
    <ion-row>
      <ion-col size="6">
          <div class="img-container">
              <img class="img-perfil" src="../../assets/images/Business-Assistant-icon.png" alt="">
          </div>
      </ion-col>

     <ion-col size="6">
        <h1 class="title">¡Hola!</h1>
        <h1 class="titleBlack">{{usrName}}</h1>
     </ion-col>
      
    </ion-row>

    <ion-row>

      <ion-col size="7">
              <ion-title>
        Mi cuenta
      </ion-title>
      <ion-item lines="none" routerDirection="" >
          <ion-icon size="large" name="md-timer" ></ion-icon>
          <ion-label>Mis compras</ion-label>
      </ion-item>

      <ion-item lines="none" routerDirection="" >
          <ion-icon size="large" name="md-card"></ion-icon>
          <ion-label>Metodos de pago</ion-label>
      </ion-item>

      <ion-item lines="none" routerDirection="" >
          <ion-icon size="large" name="md-paper"></ion-icon>
          <ion-label>Datos de facturación</ion-label>
      </ion-item>

      <ion-item lines="none" routerDirection="" >
          <ion-icon size="large" name="md-document"></ion-icon>
          <ion-label>Datos personales</ion-label>
      </ion-item>

      <ion-item lines="none" routerDirection="" >
          <ion-icon size="large" name="md-notifications"></ion-icon>
          <ion-label>Notificaciones</ion-label>
      </ion-item>

      </ion-col>


      <ion-col size=5>
        <ion-title color="primary">Saldo</ion-title>
        <ion-input size=10 color="primary" readonly value="{{0.00 | currency}}"></ion-input>

        <ion-button shape="round" color="primary"> Añadir saldo</ion-button>
      </ion-col>

    </ion-row>
    <br>

    <ion-row>
      <ion-col size=8>

          <ion-title>Información</ion-title>
        <ion-item lines="none" routerDirection="" >
            <img style="height: 20px; width: 32px;" src="../../assets/iconos/iconos oqr-55.png">
            <ion-label>Quiero ser aliado OQR</ion-label>
        </ion-item>

        <ion-item lines="none" routerDirection="" >
            <ion-icon name="md-information-circle" size="large">
              </ion-icon>
              <ion-label>Terminos y condiciones</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row justify-content-start padding>
      <h2>Aliado </h2>
      <img style="height: 50px; width: 90px; margin-left: 10px;" src="../../assets/iconos/iconos oqr-55.png">
    </ion-row>

    <ion-row>
      <ion-col size=3>
        
          <img style="height: 96px; width: 75px;"  style="height: 100px; width: 75px;"  src="../../assets/iconos/iconos oqr-27.png">
       
      </ion-col>
      <ion-col size=3>
          
            <img style="height: 96px; width: 75px;"   src="../../assets/iconos/iconos oqr-28.png">
         
        </ion-col>
        <ion-col size=3>
            
              <img style="height: 96px; width: 75px;"   src="../../assets/iconos/iconos oqr-29.png">
           
          </ion-col>
          <ion-col size=3>
              
                <img style="height: 96px; width: 75px;"   src="../../assets/iconos/iconos oqr-30.png">
             
            </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
