
*
{
    font-family: 'roboto-black';
}



ion-back-button{

   /* --background:rgb(41, 171, 226);
    --border-radius: 40px;*/
   

  }

.img-perfil
{
    height: 125px;
    width: 125px;
}

.img-container
{
    padding: 7.5px;
    height: 140px;
    width: 140px;
    border-style: solid;
    border-width: 2px;
    border-color:rgb(41, 171, 226) ;
    border-radius: 50%;
    
}

.title
{
    color: rgb(41, 171, 226) ;
    font-size: 30px;
}

.titleBlack
{
    color: rgb(34, 33, 33) ;
    font-size: 30px;
}


/*ion-input
{
    border-style: solid;
    border-width: 2px;
    border-color:rgb(41, 171, 226) ;
    border-radius: 45px;
    font-size: large;
    width: 200px;
}*/

ion-item
{
    --padding-top:1px;
    --padding-bottom: 1px;
      height: 37px;

      ion-label
      {
        font-family: 'roboto-black';
      }
}

ion-label
{
    
    margin-top: 2px;
    margin-bottom: 2px;
}


.img-footer
{
    height: 150px;
    width: 100px;
}

h1{
    text-align: center;
    
        margin-top: 1px;
        margin-bottom: 1px;
        font-size: 25px;
        color: rgb(41, 171, 226);
    
}





.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }