
*
{
    font-family: "roboto-black"
}




ion-back-button{

    --background:rgb(41, 171, 226);
    --border-radius: 40px;
   

  }

  .qrContainer
  {
     /* width: 260px;
      height: 260px;*/
      border-style: solid;
      border-width: 3px;
      border-color: rgb(41, 171, 226);
      margin-top: 20px;
      

  }

