
<ion-content>
  
    <ion-toolbar>
        <ion-buttons slot="start" collapse="true">
            <ion-back-button mode="md" type="button" color="light" icon="md-arrow-back" defaultHref="">
            </ion-back-button>
          </ion-buttons>
      <ion-title color="primary">Generador de QR</ion-title>
    </ion-toolbar>
  
  <ion-button (click)="downloadPdf()" expand="block" >
    Generar banner del Shop
  </ion-button>
<ion-row class="ion-justify-content-center">
    <div class="qrContainer">
        <qrcode [qrdata]="miQrText" [width]="320" [errorCorrectionLevel]="'M'" [elementType]="url" #qr ></qrcode>
      </div>
</ion-row>



</ion-content>
