



ion-back-button{

    --background:rgb(41, 171, 226);
    --border-radius: 40px;
   

  }

  ion-input{
      height: 50px;
      
      border-style: solid;
      border-width: 0px 0px 2px 0px;
      border-color: rgb(41, 171, 226);
     
      
  }
  .card-footer{
      bottom: 2px;
  }







.item-right
{
    position:absolute;
    padding: 11px;
    right: 1px;
 
}



    h4{
   
  
    
        color: black;
     }




ion-card{
    border-radius:15px;
    border-color: rgb(34, 186, 236);
    
}

.img-list
{
   
    height: 100%; 
   // width: 100%;
    display: block;
    position: relative;		
    width: 100%;
    height: 135px;
    border-radius: 20px;

}


ion-thumbnail 
{
    --size:100%;
    img{
        height: 150px;
        width: 150px;
        max-height: 150px;
    }
}

@media (max-width: 480px) {

    ion-thumbnail 
{
    --size:110px;
    img{
        height: 115px;
        width: 115px;
    }
}
}



