
<ion-content padding="true">

    <ion-row class="ion-justify-content-end" padding>
        <ion-button fill="clear" (click)="dismissModal()"> 
            <ion-icon name="md-close" size="large" color="primary"></ion-icon>
            </ion-button>
    </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-title color="primary" style="text-align: center">Mi direccion de entrega</ion-title>
  </ion-row>

<ion-row class="ion-justify-content-center">
  <ion-col size=10>
      <ion-label>
          Calle y numero:
        </ion-label>
        <ion-input ></ion-input>
  </ion-col>

</ion-row>




  <ion-row class="ion-justify-content-center">
      <ion-col size=5>
          <ion-label>
              Piso:
            </ion-label>
            <ion-input type="number"></ion-input>
      </ion-col>
  
      <ion-col size=5>
          <ion-label>
              Dpto:
            </ion-label>
            <ion-input></ion-input>
      </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <ion-col size=10>
      <ion-label>
        Ciudad:
      </ion-label>
      <ion-input>

        </ion-input>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
      <ion-col size=10>
        <ion-label>
          Provincia:
        </ion-label>
        <ion-input>

        </ion-input>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
        <ion-col size=10>
          <ion-label>
            País:
          </ion-label>
          <ion-input>
          
            </ion-input>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col size=10>
          <ion-button expand="block" >Guardar</ion-button>
        </ion-col>
      </ion-row>
  




  

</ion-content>
