


<ion-content>
    <ion-toolbar>

        <ion-buttons slot="start" collapse="true">
          <ion-back-button mode="md" type="button" color="light" icon="md-arrow-back" defaultHref="home">
          </ion-back-button>
        </ion-buttons>
          <ion-row justify-content-center align-items-center>
              <ion-col offset=2>
                  <h1 style="color: rgb(5, 5, 5)">
                      Mis locaciones
                    </h1>
              </ion-col> 
            <ion-col size=3 >
                <img src="../../assets/iconos/iconos oqr-46.png" style="height: 95px; width: 75px" alt="">
            </ion-col>

          </ion-row>
    
</ion-toolbar>
<ion-card>
    <ion-list *ngIf="user.locations">
        <ion-item *ngFor="let l of user.locations">
          {{l.address}} {{l.city}} {{l.country}}
        </ion-item>
      </ion-list>
</ion-card>

  <ion-row justify-content-center>
      <ion-button shape="round" (click)="ModalNewLocation()" > Agregar locacion</ion-button>
  </ion-row>

 

</ion-content>
