*
{
    font-family: 'roboto-black';
}



ion-back-button{

    --background:rgb(41, 171, 226);
    --border-radius: 40px;
   

  }

.img-perfil
{
    height: 125px;
    width: 125px;
}

.img-container
{
    padding: 7.5px;
    height: 140px;
    width: 140px;
    border-style: solid;
    border-width: 2px;
    border-color:rgb(41, 171, 226) ;
    border-radius: 50%;
    
}

.title
{
    color: rgb(41, 171, 226) ;
    font-size: 30px;
}

.titleBlack
{
    color: rgb(34, 33, 33) ;
    font-size: 30px;
}


/*ion-input
{
    border-style: solid;
    border-width: 2px;
    border-color:rgb(41, 171, 226) ;
    border-radius: 45px;
    font-size: large;
    width: 200px;
}*/

ion-item
{
    --padding-top:1px;
    --padding-bottom: 1px;
      height: 37px;

      ion-label
      {
        font-family: 'roboto-black';
      }
}

ion-label
{
    
    margin-top: 2px;
    margin-bottom: 2px;
}


.img-footer
{
    height: 150px;
    width: 100px;
}

h1{
    text-align: center;
    
        margin-top: 1px;
        margin-bottom: 1px;
        font-size: 25px;
        color: rgb(41, 171, 226);
    
}