


<ion-content padding="true">
    <ion-toolbar>
        <ion-buttons slot="start" collapse="true">
          <ion-back-button mode="md" type="button" color="light" icon="md-arrow-back" defaultHref="seller-panel">
          </ion-back-button>
        </ion-buttons>
          <ion-row justify-content-center >
              <ion-col >
                  <h1 style="color: rgb(41, 171, 226);">
                      Mis locaciones
                    </h1>
              </ion-col> 
            <ion-col size="3" >
                <img src="../../assets/iconos/iconos oqr-46.png" style="height: 95px; width: 75px" alt="">
            </ion-col>

          </ion-row>

</ion-toolbar>
<div class="container">
<ion-card>
    <div *ngIf="myLocations">
        <ion-list>
            <ion-item >
                <ion-icon name="md-pin" color="primary" slot="start"></ion-icon>  
                <ion-label> Mi locación </ion-label>  

                <ion-button fill="outline"  color="success" routerLink="/add-location" >
                        <ion-icon name="md-create" color="success" ></ion-icon>
                </ion-button>
                
            </ion-item>
            <ion-item>
                <ion-label>
                    Dirección:
                </ion-label>
                    {{myLocations.address}} 
            </ion-item>
            <ion-item *ngIf="myLocations.sublocality">
                    <ion-label>
                            Barrio:
                        </ion-label>
                    {{myLocations.sublocality}}
                </ion-item>
            <ion-item *ngIf="myLocations.city">
                    <ion-label>
                            Ciudad:
                        </ion-label>
                    {{myLocations.city}}
                </ion-item>
                <ion-item>
                        <ion-label>
                                País:
                            </ion-label>
                        {{myLocations.country}}
                    </ion-item>
        </ion-list>

      </div>
</ion-card>
</div>
</ion-content>
<ion-footer *ngIf="!myLocations">
    <ion-button shape="round" expand="block" routerLink="/add-location" > Agregar locacion</ion-button>
</ion-footer>
