ion-content{
    --background: rgba(255, 255, 255, 0.582);

    ion-button
    {
        --background: rgba(255, 255, 255, 0.014);
    }

    ion-list
    {
        background-color:rgba(255, 255, 255, 0);
    }

    ion-item
    {
        --background:rgba(255, 255, 255, 0);
        /*--margin: 1px 1px 1px;*/
        height:42px;
        padding-left: 50px;

        
    }

    h2{
        top: 1px;
        bottom: 1px;
        margin: 2px 0px 2px;
        color: rgba(41, 171, 226,132)
    }
}