

ion-thumbnail{
    --size: 75px;
}

ion-toolbar{
    --background: #1957d2;
    height: 22%;
}
.jumbotron
{
    background-color: #1957d2;
    color: white;
    text-align: center;
}

.icon
{
    height: 50px;
    width: 50px;
}

.foto
{
    height: 300px;
    width: 300px;
}


ion-input{
    height: 25px;

    margin-bottom: 5px;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: rgb(41, 171, 226);
   
    
}

ion-select{

  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-color: rgb(41, 171, 226);

}
