<ion-content>



  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <p class="lead">Saldo:</p>
      <h1 class="display-4">{{total | currency}}</h1>

    </div>
  </div>

  <ion-segment [(ngModel)]="view">
    <ion-segment-button value="lista">

      <ion-button fill="outline" expand="block" size="large">
        <ion-icon slot="icon-only" src="../../assets/iconos/billetera/list.svg" size="large"></ion-icon>


      </ion-button>

    </ion-segment-button>

    <ion-segment-button value="carga">


      <ion-button fill="outline" expand="block" size="large">
        <ion-icon slot="icon-only" src="../../assets/iconos/billetera/increase (1).svg" size="large"></ion-icon>

      </ion-button>


    </ion-segment-button>

    <ion-segment-button value="ticket">

      <ion-button fill="outline" expand="block" size="large">
        <ion-icon src="../../assets/iconos/billetera/file (1).svg" size="large"></ion-icon>

      </ion-button>

    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="view">

    <div *ngSwitchCase="'lista'">


      <div *ngIf="transactions">

        <ion-item *ngFor="let t of transactions">

          <ion-col size=3>
            <ion-thumbnail>
              <img *ngIf=" !t.offer" src="../../assets/logoOfertaCerca/logoCelesteFondoBlancoChico.jpg">
              <img *ngIf=" t.offer && t.offer.offer_img" src="{{t.offer.offer_img}}">
            </ion-thumbnail>
          </ion-col>

          <ion-col size=6>
            <ion-label class="ion-text-wrap" style="font-size: small"> {{t.fecha | date: ' d/M/y h:mm a' }} </ion-label>
          </ion-col>
          <ion-col size=3>
            <ion-label class="ion-text-wrap" *ngIf="t.quantity > 0" color="success"> {{t.quantity | currency}} </ion-label>
            <ion-label class="ion-text-wrap" *ngIf="t.quantity < 0" color="danger"> {{t.quantity | currency}} </ion-label>
          </ion-col>

        </ion-item>

      </div>
    </div>


    <div *ngSwitchCase="'carga'">

<div *ngIf="globalId">

        </div>

          <ion-row class="ion-justify-content-center">
              <ion-col size=10>
                  <ion-label>
                    ¿Cuanto queres cargar?
                  </ion-label>
                  <ion-input #tot  type="number" [(ngModel)]="quantity" placeholder="Cantidad"> </ion-input>
                  </ion-col>
          </ion-row>


          

          <!-- <ion-row class="ion-justify-content-center">
            <ion-col size=10>
                <ion-label>Elije un metodo de pago.
                  </ion-label>
                  <ion-select [(ngModel)]="method" multiple="false" cancelText="Cancelar" interface="alert">
                    <ion-select-option *ngFor="let metodo of metodosPago" value="{{metodo.source.name}}">
                      <ion-thumbnail>
                        <img src="{{metodo.view.subgroup_logo}}" alt="">
                      </ion-thumbnail>
            
                      {{metodo.source.name}}
                    </ion-select-option>
                  </ion-select>
            </ion-col>
            </ion-row> -->

            <!-- <ion-row>
                <ion-card>
                  <p>*Si seleccionas el metodo de pago en "Efectivo", deberas subir la foto del ticket.
                    La transaccion quedará como "Pendiente" hasta que se verifique el pago. </p>
                </ion-card>
              </ion-row> -->

    <ion-row class="ion-justify-content-center">
        <ion-button [disabled]="tot.value <= 0" shape="round" (click)="goToLinkE()">
             <b>Cargar</b>
          </ion-button>
    </ion-row> 

    
      </div>
      


      <div *ngSwitchCase="'ticket'">

        <ion-row class="ion-justify-content-center">
            <ion-button fill="outline" id="loadFileXml" value="loadXml" onclick="document.getElementById('seleccionArchivos').click();">
                <ion-icon  name="create" size="large" slot="start" ></ion-icon>
                Subir foto de ticket
              </ion-button>
        </ion-row>
 

            <input type="file" id="seleccionArchivos" accept="image/*" style="display:none;"  (change)="fileUpl($event.target.files)" />

    
            <div style="text-align: center">
                <img *ngIf="fotoSeleccionada" src="{{fotoSeleccionada}}" class="foto" alt="">
              </div>

        
        </div>      

  </div> 
  


</ion-content>

<ion-footer *ngIf="view==='ticket'">
    <ion-row class="ion-justify-content-center">
        <ion-button (click)="enviarTicket()" [disabled]="!foto" >
            <ion-icon slot="start" color="light" name="md-cloud-upload"></ion-icon>
            Enviar
          </ion-button>
    </ion-row>
    </ion-footer>