
<ion-content padding="true">

    <ion-row justify-content-end>
        <ion-button fill="clear" (click)="dismissModal('')"> 
            <ion-icon name="md-close" size="large" color="primary"></ion-icon>  
            </ion-button>
    </ion-row>

    <ion-row class="ion-justify-content-center">
        <h1>
          Ingresa los datos de tu negocio.
        </h1>
    </ion-row>
    

    <form [formGroup]="registroForm">

        <ion-row class="ion-justify-content-center">
            <ion-col class="ion-justify-content-center" size="10" >
                <ion-label>Nombre</ion-label>
            </ion-col>

            <ion-col size=10 >
                <ion-input type="text" placeholder="Ingresa el nombre de tu negocio" name="shop_name" [formControl]="shop_name" required  ></ion-input>
            </ion-col>
          </ion-row>

          <ion-row class="ion-justify-content-center">               
              <ion-label>Selecciona tu categoria</ion-label>
            </ion-row >

        <ion-row class="ion-justify-content-center">
          <ion-col size=11>
              <ion-input (click)="modalCategories()" readonly  name="category" [formControl]="category" required >
                  <span class="item-right">
                      <ion-icon slot="end" src="../../assets/ionicons/chevron-down-outline.svg">
                      </ion-icon>
                  </span>
                     
                    </ion-input>
          </ion-col>

        </ion-row>

        <ion-row class="ion-justify-content-center">
                <ion-col class="ion-justify-content-center" size="10" >
                    <ion-label>Seleccione su moneda</ion-label>
                </ion-col>
    
                <ion-col size=10 >
                        <ion-select (ionChange)="currency_commission=prod_currency"  [formControl]="currency" placeholder="Moneda" required >
                                <ion-select-option *ngFor="let c of countries" >
                                  {{c.currencies[0].code}}
                                </ion-select-option>
                              </ion-select>
                </ion-col>
              </ion-row>


        
            <ion-row class="ion-justify-content-center">
                <ion-col class="ion-justify-content-center" size="10" >
                    <ion-label>Cuit</ion-label>
                </ion-col>
    
                <ion-col size=10 >
                    <ion-input type="tel" maxlength="11" placeholder="Ingresa el cuit de tu negocio" name="cuit" [formControl]="cuit" required></ion-input>
                </ion-col>
              </ion-row>


              <ion-row class="ion-justify-content-center">
                    <ion-col class="ion-justify-content-center" size="10" >
                        <ion-label>Horario de atención</ion-label>
                    </ion-col>
        
                    <ion-col size=5 >
                          
                            <ion-datetime displayFormat="HH:mm"  placeholder="Desde" name="desde" [formControl]="desde" required></ion-datetime>
                            
                    
                    </ion-col>
                    <ion-col size=5 >
                            <ion-datetime displayFormat="HH:mm"  placeholder="Hasta" name="hasta" [formControl]="hasta" required></ion-datetime>
                        </ion-col>
                  </ion-row>

            </form>

            <ion-list>
                    <ion-list-header>Condiciónes de pago</ion-list-header>
                    <ion-item>
                      <ion-label>Efectivo</ion-label>
                      <ion-checkbox [(ngModel)]="efectivo" ></ion-checkbox>
                    </ion-item>
                    <ion-item>
                          <ion-label>Tarjeta</ion-label>
                          <ion-checkbox [(ngModel)]="tarjeta"  ></ion-checkbox>
                      </ion-item>
                </ion-list>

              <ion-list>
                  <ion-list-header>Condiciónes de entrega</ion-list-header>
                  <ion-item>
                    <ion-label>Delivery</ion-label>
                    <ion-checkbox [(ngModel)]="delivery" ></ion-checkbox>
                  </ion-item>
                  <ion-item>
                        <ion-label>Retiro de sucursal</ion-label>
                        <ion-checkbox [(ngModel)]="retiro"  ></ion-checkbox>
                    </ion-item>
              </ion-list>

              <ion-row class="ion-justify-content-center">
                    <ion-spinner *ngIf="spinner" name="crescent">
    
                    </ion-spinner>
                    <ion-button  *ngIf="!spinner" shape="round" expand="block" (click)="saveSeller()" [disabled]="!registroForm.valid">
                      Guardar datos
                    </ion-button>
                  </ion-row>

</ion-content>

