
<ion-content padding="true">

    <ion-row justify-content-end>
        <ion-button fill="clear" (click)="dismissModal()"> 
            <ion-icon name="md-close" size="large" color="primary"></ion-icon>  
            </ion-button>
    </ion-row>

    <ion-row class="ion-justify-content-center">
        <h1>
          Ingresa los datos de tu negocio.
        </h1>
    </ion-row>
    

    <form [formGroup]="registroForm" (ngSubmit)="saveSeller()">

        <ion-row justify-content-center>
            <ion-col justify-content-center size="10" >
                <h4>Nombre</h4>
            </ion-col>

            <ion-col size=10 >
                <ion-input type="text" placeholder="Ingresa el nombre de tu negocio" name="shop_name" [formControl]="shop_name" required  ></ion-input>
            </ion-col>
          </ion-row>

          <ion-row justify-content-center>               
              <h4>Selecciona la categoria del producto</h4>
      </ion-row >

        <ion-row justify-content-center>
          <ion-col size=11>
              <ion-input (click)="modalCategories()" readonly  name="category" [formControl]="category" required >
                  <span class="item-right">
                      <ion-icon slot="end" src="../../assets/ionicons/chevron-down-outline.svg">
                      </ion-icon>
                  </span>
                     
                    </ion-input>
          </ion-col>

        </ion-row>

        
            <ion-row justify-content-center>
                <ion-col justify-content-center size="10" >
                    <h4>Cuit</h4>
                </ion-col>
    
                <ion-col size=10 >
                    <ion-input type="tel" maxlength="11" placeholder="Ingresa el cuit de tu negocio" name="cuit" [formControl]="cuit" required></ion-input>
                </ion-col>
              </ion-row>

              <ion-row class="ion-justify-content-center">
                <ion-spinner *ngIf="spinner" name="crescent">

                </ion-spinner>
                <ion-button type="submit" *ngIf="!spinner" shape="round" expand="block" [disabled]="!registroForm.valid">
                  Guardar datos
                </ion-button>
              </ion-row>
            </form>

</ion-content>

