



<ion-content padding="true">

    <ion-toolbar>
        <ion-buttons slot="start" collapse="true">
            <ion-back-button mode="md" type="button" color="light" icon="md-arrow-back" defaultHref="seller-panel">
            </ion-back-button>
          </ion-buttons>
      <h1>Productos relacionados</h1>
    </ion-toolbar>

    <ion-card>
        * Los productos que agruegue a la lista seran sugeridos a los usuarios que ingresen a sus ofertas.
    </ion-card>

    <ion-list>
        <ion-list-header>Mis productos relacionados</ion-list-header>
        <ion-item *ngFor="let p of array_products">
            <ion-thumbnail  slot="start">
                <img src="{{p.product_image}}">
            </ion-thumbnail>
            {{p.product_ref.name}}
            <!--{{p.price | currency: p.currency_price}}-->
            <ion-label color="primary" slot="end">Modificar</ion-label>

        </ion-item>
      
    </ion-list>

</ion-content>

<ion-footer>
        <ion-row class="ion-justify-content-center">
                <ion-button shape="round" expand="block" (click)="addProductModal()">Agregar producto</ion-button>
            </ion-row>
</ion-footer>
