img{
    height: 150px;
    width: 350px;
    border-radius: 20px;
}


*
{
    font-family: "roboto-black"
}

h1{
    text-align: center;
    
        margin-top: 1px;
        margin-bottom: 1px;
        font-size: 25px;
        color: rgb(41, 171, 226);
    
}


ion-back-button{

    --background:rgb(41, 171, 226);
    --border-radius: 40px;
   

  }

  ion-input{
      height: 50px;
      
      border-style: solid;
      border-width: 0px 0px 2px 0px;
      border-color: rgb(41, 171, 226);
     
      
  }


  .select-currency{
      width: 100%;
      border-bottom-width: 0px;

  }

  ion-card{
      box-shadow: none;
      border-radius: 5px;
      border-style: solid;
      border-width: 1px;
      border-color: rgba(194, 192, 192, 0.548);
      height: 60px;

      padding-left: 5px;
  }