<ion-content padding="true" class="ion-align-items-center">



    <div class="cont">
  
  <ion-row justify-content-end>
      <ion-button fill="clear" (click)="dismissModal()"> 
          <ion-icon name="md-close" size="large" color="primary"></ion-icon>
  
            
          </ion-button>
  </ion-row>

  <ion-row *ngIf="spinner" style="margin-top:200px;" class="ion-justify-content-center">
      <ion-spinner color="primary">
        </ion-spinner>
  </ion-row>


 

  <div *ngIf="!spinner">
  <ion-row >
          
      <ion-col size="10" offset="1">
        <ion-button class="btn-face" expand="block" shape="round" (click)="onLoginFacebook()" > Iniciar sesión con Facebook</ion-button>
      </ion-col>
    
    </ion-row>
    
    <ion-row>
    
      <ion-col size="10" offset="1">
        <ion-button color="danger" expand="block" shape="round" (click)="onLoginGoogle()" > Iniciar sesión con Google</ion-button>
      </ion-col>
    
    </ion-row>

    <ion-row><ion-col size="10" offset="1"><div class="line"></div></ion-col></ion-row>
    

    <form [formGroup]="registroForm" >


      <ion-row >
          
        <ion-col size="10" offset="1">
            
          <ion-input  type="text" name="user_name" [formControl]="user_name" placeholder=" Usuario" required ></ion-input>
        
        </ion-col>
        
      </ion-row>

      <ion-row >
        
        <ion-col size="10" offset="1">
          
          <ion-input type="password" name="password" placeholder=" Password" [formControl]="password" required></ion-input>

          <a class="forgot-pass" href="/login">Olvido su contraseña?</a>
        </ion-col>

      </ion-row>

      <ion-row >
        
        <ion-col size="8" offset="2">
          <ion-button color="success" expand="block" shape="round" (click)="onLogin(formLogin)" [disabled]="!registroForm.valid">Iniciar Sesion</ion-button>
        </ion-col>

        <ion-button color="success" expand="block" shape="round" (click)="directLoginOne()">user 1 Log</ion-button>

        <ion-button color="success" expand="block" shape="round" (click)="directLoginTwo()">user 2 Log</ion-button>

      </ion-row>

    </form>
  
    <ion-row >
      
      <ion-col size="10" offset="2">
      
        <ion-label><h3 class="text">No tienes una cuenta?</h3></ion-label>
        <ion-button class="register-btn" color="tertiary" shape="round" (click)="register_page()">Registrate ahora!</ion-button>
        
      </ion-col>

    </ion-row>
  </div>
  </div>
  </ion-content>