

ion-content
{
    --background: rgba(255, 255, 255, 0.253);
    
}

  ion-input{
    height: 25px;
    text-align: center;

    
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: rgb(41, 171, 226);
   
    
}

.cont
{
    margin-top:30%;
    height: 500px;
    
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(41, 171, 226);
    border-radius: 25px;
}