



<ion-content >



  <div class="banner">
      <div class="buttons-login-cart">
        <ion-row>
          <ion-col size=1>
              <ion-button class="butn-round" *ngIf="!is_logged"  (click)="goToLogin()" > 
                  <ion-icon size="large" color="light" name="md-person" >
 
                  </ion-icon>
               </ion-button>

               <ion-button class="butn-round"  (click)="editShop()" > 
                      <ion-icon size="large" color="light" name="md-create" >
     
                      </ion-icon>
                   </ion-button>
          </ion-col>



        </ion-row>
    
         
        </div>
    <ion-row class="ion-justify-content-center">

   
   <div class="shop-name">

        <h1>{{seller.shop_name}}</h1>
      </div>
      
     <!-- <img class="img-banner" src="../../assets/images/{{seller.category}}.jpg">-->
    <!-- <img class="img-banner" src="../../assets/images/Copia de Modern Summer Sale Store Banner - Hecho con PosterMyWall.jpg">-->
    <img class="img-banner" src="{{seller.url_images}}">
    <div class="img-seller">

      <img class="seller-photo" src="../../assets/logoOfertaCerca/logoBlancoFondoCeleste.jpg" alt="">
    </div>
  </ion-row>
  </div>




<!--<ion-col> separador del carrito-->
<ion-row class="ion-justify-content-center">

  <ion-col size-xs=9 size-sm=6 size-md=6  size-lg=6  size-xl=6 >
          <div *ngIf="offerdata != undefined">

                  <div *ngIf="offerdata.offer_name == 'Precio'"> 
                    <ion-col>
                          <div id="offer-label">
                              <img src="../../assets/iconos/iconos oqr-49.png" style="height: 115px; width: 115px;" class="offer-stamp" >
                           
                          </div>
                <ion-card padding *ngFor="let p of offerdata.products" class="banner-offer">
                      <ion-row class="ion-justify-content-center">
                      <img class="img-offer" src="../../assets/cafeEnSaquitos.jpg">
                    </ion-row>
                      <ion-row>
                          <ion-card-title>  {{p.name}} </ion-card-title>
                      </ion-row>
                          <ion-card-subtitle color="success">
                              {{offerdata.price | currency:offerdata.price_currency}}
                          </ion-card-subtitle>
                          <ion-note size="small" color="danger" style="text-decoration:line-through;"> {{precioanterior.price | currency:offerdata.price_currency}} </ion-note>
                        
                        <ion-row>
                            <ion-card-subtitle style="text-align: center"> {{offerdata.description}} </ion-card-subtitle>
                        </ion-row>
                   
                        <ion-row class="ion-justify-content-end">
                            <ion-button size="small" (click)="addOfferToCart(p)" >
                                <ion-icon size="small" name="md-add"></ion-icon>
                              </ion-button>
                              <ion-button size="small" (click)="removeOfferToCart(p)" >
                                  <ion-icon size="small" name="md-remove"></ion-icon>
                                  </ion-button>
                        </ion-row>
                   
                   
                
                </ion-card>
                </ion-col>
                  </div>
                
                </div>
  </ion-col>


</ion-row>

                                              <!--SEARCH BAR-->
                                              
                                              <ion-row class="ion-justify-content-center">
                                                      <ion-col size=10 >
                                                        
                                                        <ion-input class="input-search" (ionChange)="filter($event)" placeholder="¿Qué estas buscando?" color="primary" [(ngModel)]="busqueda" >
                                                          <span>
                                                                <ion-icon style="padding-left: 10px;" size="large" name="md-search" color="primary-shade">
                                                                  </ion-icon>
                                                          </span>
                                                          <span class="item-right">
                                                            <ion-button style="
                                                            border-left-style: solid;
                                                            border-left-width: 1px;
                                                            border-left: 'primary';" fill="clear" (click)="searchTools()" >
                                                                <ion-icon color="primary" name="md-options">
                                                                  </ion-icon>
                                              
                                                            </ion-button>
                                              
                                                          </span>
                                                  
                                                        </ion-input>
                                                      
                                                      </ion-col>
                                                    </ion-row> 
                          
                                                    <ion-row *ngIf="search_tool" class="ion-justify-content-center">
                                      
                          
                                                          <ion-button shape="round" color="primary" (click)="categoryModal()">
                                                            Categoria
                                                          </ion-button>
                                          
                                                          <ion-button shape="round" color="primary" (click)="typeOfferModal()">
                                                              Tipos de oferta
                                                            </ion-button>
                                                                          
                                                           
                                                         
                                                      </ion-row>
                          
                          
                                                    
                                                    <!--SEARCH BAR-->


  <div>        

      <ion-segment [(ngModel)]="type_view">
                      <ion-segment-button value="products">
                          <ion-title>Productos</ion-title>
                      </ion-segment-button>
                      <ion-segment-button value="offers">
                          <ion-title>Ofertas</ion-title>
                      </ion-segment-button>
                    </ion-segment>
                  </div>



                  <div [ngSwitch]="type_view" class="contenedor">

                  

             
                          <ion-grid padding="true" *ngSwitchCase="'products'">
                                  <ion-row padding="true" class="ion-justify-content-start">
                                          <ion-col size-xs=10 offset-xs=1 offset-sm=0  size-sm=3 size-md=3  size-lg=3  size-xl=3 *ngFor="let prod of aux_products_list; let i = index " >
                                          
                                             <ion-card>
                                              <img class="img-card" src="../../assets/images/{{prod.category}}.jpg" alt="">
                                      
                                              <ion-card-content>
                                                  <ion-card-title style="font-size: medium">
                                                      {{prod.name}}
                                                       </ion-card-title>
                                      
                                                       <ion-row>
                                                         <ion-col size=4>
                                                            <ion-button size="small" (click)="addProductToCart(prod)" >
                                                                <ion-icon name="md-add"></ion-icon>
                                                              </ion-button>
                                                             </ion-col>
                                                             <ion-col size=4>
                                                              <ion-button size="small" (click)="removeProductToCart(prod)" >
                                                                  <ion-icon name="md-remove"></ion-icon>
                                                                </ion-button>
                                                               </ion-col>
                                                         <ion-col size=4>
                                                            <ion-chip size="small"  color="primary" outline style="font-size: x-small; margin-left: 0px;">
                                                        
                                                                {{prod.price | currency: prod.currency_price}}
                                                              </ion-chip>
                                                         </ion-col>
                                      
                                                       </ion-row>
                                      
                                              </ion-card-content>
                                            </ion-card>
                                            </ion-col>
                                          </ion-row>
                          </ion-grid>

          

                       
                       <ion-grid padding="true" *ngSwitchCase="'offers'">
                          <ion-row padding="true" class="ion-justify-content-start">
                           <ion-col size-xs=10 offset-xs=1 offset-sm=0  size-sm=3 size-md=3  size-lg=3  size-xl=3  *ngFor="let offer of aux_offer_list; let i = index ">
                              <ion-card>
                                  <img class="img-card" src="../../assets/images/{{offer.category}}.jpg" alt="">
                                  <ion-card-content>
                                  <ion-card-title *ngIf="offer.offer_name=='Precio'" style="font-size: medium" >
                                      {{offer.products[0].name}} a {{offer.price | currency: offer.price_currency}}
                                     </ion-card-title>
                                     <ion-card-title *ngIf="offer.offer_name=='Gratis'" style="font-size: medium">
                                       {{offer.products[0].name}} Gratis!
                                       {{offer.description}}
                                      </ion-card-title>
                                   <ion-card-title *ngIf="offer.offer_name=='Descuento'" style="font-size: medium" >
                                     %{{offer.percentage}} de descuento en {{offer.category}}
                                     </ion-card-title>
                                  <ion-row class="ion-justify-content-end">
                                      <ion-button *ngIf="offer.offer_name != 'Descuento'" (click)="addOtherOfferToCart(offer)" >
                                          <ion-icon name="md-add"></ion-icon>
                                        </ion-button>
                                        <ion-button *ngIf="offer.offer_name != 'Descuento'" (click)="removeOfferToCart(p)" >
                                            <ion-icon name="md-remove"></ion-icon>
                                            </ion-button>

                                            <ion-button *ngIf="offer.offer_name=='Descuento'" (click)="viewOffer(offer)" > Ver productos</ion-button>
                                  </ion-row>
                                </ion-card-content>
                                </ion-card>
                             </ion-col>
                           </ion-row>
                       </ion-grid>
                       
                     
                  </div>

                 

              


                       
       
               

    <!--<ion-checkbox (ionChange)="selectProd(prod, $event)" slot="start"></ion-checkbox>-->





</ion-content>

<ion-fab vertical="bottom" horizontal="end">
      <div *ngIf="cart.details.length > 0" class="red-point" style="z-index: 1000">
              {{cart.details.length}}
              </div>
  <ion-fab-button (click)="toCart()">
      <ion-icon size="large" name="md-cart" ></ion-icon>
  </ion-fab-button>
  <ion-fab-button><ion-icon name="md-share" size="large"></ion-icon></ion-fab-button>
  <ion-fab-button><ion-icon name="md-heart" size="large"></ion-icon></ion-fab-button>
  <ion-fab-button><ion-icon name="md-chatboxes" size="large"></ion-icon></ion-fab-button>

</ion-fab>




