
  @font-face {
    font-family: 'roboto-medium';
    src: url('../../assets/fuentes/Roboto-Medium.ttf');
  
  }

.vendor_img{
    height: 150px;
    width: 150px;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(158, 158, 158);
  
    border-radius: 50%;
}

.mean-container .mean-bar { 
    width: 100%;
    position: relative;
    padding: 0;
    z-index: 1;min-height:32px;
    }
    .mean-container a.meanmenu-reveal {
    width: 22px;
    height: 22px;
    padding: 5px 10px 11px 13px;
    position: absolute;
    top:0px;
    right: 0;
    
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    text-indent: -9999em;
    line-height: 22px;
    font-size: 1px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;box-sizing: initial;
    }
    .mean-container a.meanmenu-reveal span {
    display: block;
    background: #fff;
    height: 3px;
    margin-top: 3px;
    }
    .mean-container .mean-nav { 
    float: left;
    width: 100%;
    background: #083d57;
    margin-top: 46px;
    }
    .mean-container .mean-nav ul {
    padding: 0 !important;
    margin: 0;
    width: 100%;
    list-style-type: none;
    }
    .mean-container .mean-nav ul li {
    position: relative;
    float: left;
    width: 100%;
    }
    .mean-container .mean-nav ul li a {
    display: block;
    float: left;
    width: 100%;
    padding: 1em 5% !important;
    margin: 0;
    text-align: left;
    font-size:13px;color:#fff !important;
    border-bottom: 1px solid #383838;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    text-decoration: none;
    text-transform: uppercase;background-image:none !important;
    }
    .mean-container .mean-nav ul li li a {
    width: 100%;
    padding: 1em 10%;
    border-bottom: 1px solid #f1f1f1;
    border-bottom: 1px solid rgba(255,255,255,0.25);
    opacity: 0.75; 
    filter: alpha(opacity=75);
    text-shadow: none !important;
    visibility: visible;
    }
    .mean-container .mean-nav ul li.mean-last a {
    border-bottom: none;
    margin-bottom: 0;
    }
    .mean-container .mean-nav ul li li li a {
    width: 70%;
    padding: 1em 15%;
    }
    .mean-container .mean-nav ul li li li li a {
    width: 60%;
    padding: 1em 20%;
    }
    .mean-container .mean-nav ul li li li li li a {
    width: 50%;
    padding: 1em 25%;
    }
    .mean-container .mean-nav ul li a:hover { 
    background: #252525;
    background: rgba(255,255,255,0.1); 
    }


    .mean-container .mean-nav ul li a.mean-expand {
    width: 66px;
    height: 66px;
    border: none !important;
    padding: 12px !important;
    text-align: center;
    position: absolute;
    right: 0;
    top: -12px;
    z-index: 2;
    font-weight: 700;font-size:30px !important;text-align:right;
    }
    .mean-container .mean-nav ul li a.mean-expand:hover {
    background: none;
    }
    .mean-container .mean-push { 
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    clear: both; 
    }
    .mean-nav .wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
    }

    
body{margin:0;padding:0;font-family: 'Open Sans', sans-serif;}
*{border:none;text-decoration:none;outline:none;box-sizing:border-box;}
a:hover{text-decoration:none;}
.clear{clear:both;}
a{color:inherit;}
img{vertical-align:top;}
iframe{width:100% !important;}





h1, h2, h3, h4, h5, h6{margin:0;padding:0;}




img {
    max-width: 100%;
    
}
@media \0screen {
  img { 
  	width: auto; /* for ie 8 */
  }
}


header .container{position:relative;}
.header_top{background:#083d57;padding:14px 0; height: 50px;}
.header_top p.left{float:left;}
.header_top p.right{float:right;}
.header_top p{font-size:16px;color:#ffffff;margin:0;padding:0;line-height:normal;}
.header_top p.right ion-button{margin-left:16px;}
.header_top p a:hover{color:#f8ae19;}
.header_top p a img{vertical-align:middle;margin-right:1px;}
.header_mid{background:#1e94cc;padding:5px 0;position:relative;}
.logo{float:left;position:relative; z-index:2;padding-top:20px;}
.header_right{float:right;text-align:right;position:relative;padding:10px 0;position:relative;z-index:2;}
.search_holder{display:inline-block;vertical-align:top;}
.header_right .fas{color:#fff;line-height:51px;}
.cart_icon{display:inline-block;vertical-align:top;width:52px;height:51px;text-align:center;border-radius:50%;border:2px solid #fff;position:relative;margin-left:26px;margin-right:21px;}
.cart_icon span{position:absolute;right:-21px;top:-7px;width:34px;height:34px;background:#083d57;border-radius:50%;font-size:15px; color:#ffffff;text-align:center;line-height:34px;}
#search1{position:absolute;right:0;top:81px;width:300px;}
#search1 .emailbox{height:50px;padding-right:75px;}
#search1 .submit_btn{width:70px;font-size:11px;position:absolute;right:3px;top:3px;bottom:3px;margin:0;line-height:46px;}
.emailbox{width:100%;height:67px;background:#fff;font:normal 15px 'MuliLight';color:#2f2f2f;padding:0 22px;line-height:67px;}
.submit_btn{position:absolute;right:3px;top:3px;bottom:3px;width:223px;font:normal 19px 'Josefin Sans', sans-serif;color:#ffffff;text-transform:uppercase;cursor:pointer;-webkit-appearance:none;font-weight:700;background:#083d57;text-align:center;line-height:61px;}




@media(min-width:992px){

    .seller_img
    {
        display: block;
        max-height: 400px;
    }

#navigation{text-align:right;padding-right:178px;position:absolute;left:0;right:0;top:0;}
.ddsmoothmenu{}
.ddsmoothmenu ul{z-index:100;margin:0;padding:0;list-style:none;display:inline-block;}
.ddsmoothmenu ul li{position: relative;margin:0;padding:0;display:inline-block;vertical-align:top;position:relative;z-index:9;}
.ddsmoothmenu ul li a{margin:0;padding:0 14px;display:block;font-size:16px;color:#ffffff;font-weight:600;position:relative;line-height:69px;}
* html .ddsmoothmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/display: inline-block;}
.ddsmoothmenu>ul>li.current-menu-item>a, .ddsmoothmenu>ul>li:hover>a{ color:#ffd000;}
.ddsmoothmenu>ul>li.active>a{}
.ddsmoothmenu ul li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -5px;
  left: 0;
  background: #ffd000;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: .25s linear;
}


.ddsmoothmenu ul li a:hover:before,
.ddsmoothmenu ul li a:focus:before {
  visibility: visible;
  transform: scaleX(1);
}



.ddsmoothmenu ul li ul{position: absolute;left: 0;display: none;visibility: hidden;background:#d8ab27;width:250px;margin-top:20px;padding:14px 10px;text-align:left;}
.ddsmoothmenu ul li ul li{display: list-item;float: none;margin:0;padding:0 15px;background-image:none;line-height:30px;}
.ddsmoothmenu ul li ul li:last-child{border-bottom:none;}
.ddsmoothmenu ul li ul li ul{top: 0;}
.ddsmoothmenu ul li ul li a{margin:0;padding:5px 0 5px 0;border-bottom:1px solid rgba(255, 255, 255, 0);display:block;font-size:18px;}
.ddsmoothmenu ul li ul li:last-child a{border:none;}
.ddsmoothmenu ul li ul li.active, .ddsmoothmenu ul li ul li:hover{background-color:rgba(255, 255, 255, 0.2) !important;}

/* Holly Hack for IE \*/
* html .ddsmoothmenu{height: 1%;} /*Holly Hack for IE7 and below*/

}


#banner{padding:20px 0 42px 0;}
#banner img{width:100%;}

.banner_img .col-xs-6{padding:0 6px 12px 6px;}
#banner .row{margin-left:-6px;margin-right:-6px;}


.banner_btm{padding:0 0 42px 0;border-bottom:1px solid rgba(0, 0, 0, 0.1);position:relative;}
.banner_btm h2{font-size:30px;font-weight:400;padding-bottom:17px;}
.banner_btm p{font-size:16px;font-weight:300;color:#544e4e;margin:0;padding:0 0 0 35px;position:relative;line-height:32px;}
.banner_btm p img{position:absolute;left:0;top:4px;}
.reviews{position:absolute;right:15px;top:0;}
.reviews .fas{color:#fff;background:#ffd000;width:26px;height:26px;border-radius:2px;text-align:center;font-size:14px;margin-left:4px;line-height:26px;}
.reviews p{font-size:15px;margin:0;padding:10px 0;border-bottom:1px dashed #727272;text-align:right;}


.product_sec{padding:79px 0;}
.offer_sec {padding-bottom:50px;}
.offer_sec img{width:100%;}
.offer_sec .col-sm-6{padding-bottom:30px;}
.product_slider{position:relative;padding:0 3px;}
.product_slider .slick-slide{padding:0 15px;}
.product_box{-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.05);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.05);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.05);border-radius:3px;padding:0 25px 25px 25px;text-align:center;margin:5px 0 32px 0;}

.product_img p img{}
.product_box h3{font-size:17px;color:#626262;font-weight:600;padding-bottom:14px;padding-top:14px;text-overflow: ellipsis;  white-space: nowrap;overflow: hidden;}
.product_box p{font-size:14px;font-weight:300;color:#626262;margin:0;padding:0 0 18px 0;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;line-height:24px;}
.product_box h5{font-size:12px;color:#979797;font-weight:400;padding-bottom:15px;}
.product_box .fa-star{font-size:10px;color:#ffca38;margin:0 1px;}
.product_box h5 span{margin:0 0 0 10px;}
.product_box h4{font-size:25px;color:#10dc60;font-weight:700;padding-bottom:17px;}
.product_box h4 span{font-size:21px;font-weight:400;color:#787878;text-decoration:line-through;}
a.btn2{font-size:14px;color:#ffffff;font-weight:600;display:inline-block;vertical-align:top;background:url("../../assets/images/cart_icon.png") no-repeat #35a9df;background-position:91% center;min-width:127px;text-align:center;padding-right:37px;position:relative;border-radius:3px;line-height:37px;}
a.btn2:after{width:1px;height:100%;background:#fff;right:35px;top:0;position:absolute;content:'';}
.product_img{height:182px;overflow:hidden;text-align:center;width:100%;padding:0;}
.product_img p{margin:0;padding:0;display:table;width:100%;height:100%;text-align:center;}


.full_width{width:100%;}
.location_sec{padding:35px 0;}
.location_sec h3{font-size:16px;color:#777171;font-weight:400;text-transform:uppercase;position:relative;border-bottom:1px solid rgba(0, 0, 0, 0.1);padding:0 0 28px 0;margin-bottom:19px;}
p.address{position:relative;font-size:17px;color:#535353;margin:0;padding:3px 0 0 50px;}
p.address img{position:absolute;left:0;top:0;}
button.select_btn{background:#10dc60;border-radius:2px;font-size:14px;font-weight:700;color:#fff;float:right;text-transform:uppercase;padding:13px 25px;margin-top:-9px;}

.item_details {padding:50px 0;}
.item_details h3{font-size:24px;color:#353535;font-weight:600;border-bottom:1px solid rgba(0, 0, 0, 0.1);padding:0 0 28px 0;margin-bottom:19px;}

.details_left, .details_right{border:1px solid rgba(0, 0, 0, 0.1);border-radius:3px;height:100%;padding:20px;position:relative;}
.item_img{width:111px;float:left;margin-right:36px;}
.item_text{overflow:hidden;}
.item_details h4{font-size:17px;font-weight:600;color:#353535;padding-bottom:16px;} 
.item_details p{font-size:17px;font-weight:400;color:#535353;margin:0;padding:0 0 12px 0;} 
.item_details h5{font-size:19px;font-weight:700;color:#10dc60;padding-bottom:14px;} 
.qty_box{font-size:17px;font-weight:400;color:#535353;}
.qty_box input{width:45px;height:33px;border:1px solid rgba(0, 0, 0, 0.1);margin-left:3px;}
.icons_holder{position:absolute;top:20px;right:20px;}
.icons_holder .far{font-size:18px;color:#c5c5c5;margin-left:9px;}
.icons_holder .fa-trash-alt{color:#FF0000;}
.details_right p span{float:right;}
.details_right .fa-long-arrow-alt-right{color:#4e9ae8;vertical-align:middle;margin-left:8px;}

.details_right hr{width:100%;height:1px;border:none;outline:none;background:rgba(0, 0, 0, 0.1);padding:0;margin:0 0 15px 0;}



button.checkout_btn{background:#10dc60;border-radius:2px;font-size:14px;font-weight:700;color:#fff;width:100%;padding:13px 25px;display:block;text-transform:uppercase;text-align:center}


footer{background:#101111;padding:35px 0;}
footer p{font-size:15px;color:#e7e7e7;font-weight:300;margin:0;padding:0;text-align:center;line-height:normal;}



@media(min-width:768px){
.banner_img .col-sm-7{padding:0 6px;width:63.7%;}
.banner_img .col-sm-5{padding:0 6px;width:36.3%;}
.row_equal{display:flex;}
}









@media(max-width:991px){
.header_right{margin-right:40px;}
#navigation{position:absolute;right:0;top:23px;width:100%;}
}

@media(max-width:767px){
.header_top p{font-size:0;}
.header_top p .fas{font-size:13px;}
.emailbox{height:45px;line-height:45px;}
.submit_btn{position:relative;right:0;top:0;bottom:0;width:100%;margin-top:5px;height:45px;font-size:14px;line-height:45px;}
.banner_img .col-sm-7{padding-bottom:12px; }
.banner_btm h2{font-size:21px;padding-bottom:10px;}
.banner_btm p{font-size:14px;line-height:27px;}
.banner_btm p span{display:block;}
.reviews{position:relative;right:0;top:0;}
.reviews .fas{width:19px;height:19px;font-size:8px;line-height:19px;}
.reviews p{text-align:left;padding:6px 0;margin-bottom:10px;}
#banner{padding-bottom:20px;}
.product_sec{padding:40px 0;}
.offer_sec{padding-bottom:20px;}
.offer_sec .col-sm-3, .offer_sec .col-sm-6{padding:0 5px 10px 5px;}
.offer_sec .row{margin-left:-5px;margin-right:-5px;}
footer{padding:15px 0;}
button.select_btn{float:none;margin:0;float:none;display:inline-block;margin-top:10px;}
.item_details{padding:20px 0;}
.item_img{float:none;margin:0 0 10px 0;}
.details_right{margin-top:20px;}
}

@media(max-width:567px){
.logo{padding-top:12px;}
#navigation{top:8px;}
.logo img{max-height:25px;}
.header_right .fas{font-size:11px;line-height:34px;}
.cart_icon{width:32px;height:32px;margin-left:5px;border:1px solid #fff;}
.cart_icon span{width:24px;height:24px;line-height:24px;}
#search1{right:-40px;top:63px;width:290px;}
}