*
{
    font-family: "roboto-black"
}

h1{
    text-align: center;
    
        margin-top: 1px;
        margin-bottom: 1px;
        font-size: 25px;
    
}


ion-back-button{

    --background:rgb(41, 171, 226);
    --border-radius: 40px;
   

  }

  ion-input{
      height: 50px;
      
      border-style: solid;
      border-width: 0px 0px 2px 0px;
      border-color: rgb(41, 171, 226);
      text-align: center;
     
      
  }

  ion-select{

    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: rgb(41, 171, 226);
  
  }

  ion-slides{
      height: 500px;
      /*max-height: 400px*/
  }

  ion-textarea{
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: rgb(41, 171, 226);
    
  }



  .container{
      display: block;
  }

  .nextButton
  {
      margin-top:250px;
  }
  .pay-side
  {
    margin-top:20px;

    h1{
        margin-top: 1px;
        margin-bottom: 1px;
        font-size: 25px;
    }

  }



  .select-currency{
      width: 100%;
      border-bottom-width: 0px;

  }

  .item-right
{
    position:absolute;
    padding: 11px;
    right: 1px;
 
}

ion-note{
    font-size: small;
}

.btn-king
{
    height: 50px;
    width: 150px;
}

.autocomplete {
	width: 100%;

	ion-searchbar {
        padding: 1px !important;
        height: 25px;
        border-style: solid;
        border-width: 0px 0px 2px 0px;
        border-color: rgb(41, 171, 226);
	}

	ion-list {
		position: absolute;
		width: inherit;
		overflow-y: scroll;
		max-height: 150%;
        z-index: 999;
        
        ion-input{
            height: 50px;
            width: 400px;
            left:20px;
            border-style: solid;
            border-width: 0px 0px 2px 0px;
            border-color: rgb(41, 171, 226);
            text-align: center;
           
            
        }

		ion-item {

			img {
				max-height: 2.5rem;
				width: auto;
				margin: auto;
				display: block;
			}
		}

		ion-item:hover {
			cursor: pointer;
            --background: rgb(41, 171, 226);
            background-color: rgb(41, 171, 226);
        }
        ion-item:focus {
			cursor: pointer;
            --background: rgb(41, 171, 226);
            background-color: rgb(41, 171, 226);
		}
	}
}
