
<ion-content padding="true">
    <ion-row justify-content-end>
            <h3>Ingrese un nuevo producto</h3>
        <ion-button fill="clear" (click)="dismissModal()"> 
            <ion-icon name="md-close" size="large" color="primary"></ion-icon>  
            </ion-button>
    </ion-row>


    <ion-row justify-content-center>               
        <h4>Selecciona la categoria del producto</h4>
</ion-row >

  <ion-row justify-content-center>
    <ion-col size=11>
        <ion-input (click)="ModalCategories()" readonly placeholder="Seleccione una categoria." [(ngModel)]="category" >
            <span class="item-right">
                <ion-icon slot="end" src="../../assets/ionicons/chevron-down-outline.svg">
                </ion-icon>
            </span>
               
              </ion-input>
    </ion-col>

  </ion-row>


  <ion-row justify-content-center>               
      <h4>¿Qué tipo de producto quieres ofertar?</h4>
</ion-row >

<ion-row class="ion-justify-content-center">
    
    <ion-button class="btn-king" (click)="kind='Producto'">
    Producto
    <ion-icon *ngIf="kind=='Producto'" name="md-checkmark" slot="end" color="light"></ion-icon>
    </ion-button>
   
    
        <ion-button class="btn-king" (click)="kind='Servicio'">
        Servicio
        <ion-icon *ngIf="kind=='Servicio'" name="md-checkmark" slot="end" color="light"></ion-icon>
        </ion-button>
       
        
</ion-row>

        
        <ion-row justify-content-center *ngIf="kind=='Producto'">
        
          <ion-col size=11 >
        
              <ion-input  type="number" [(ngModel)]="bar_code" readonly placeholder="Escanea el código de barras.">
                    <span class="item-right">
                            <ion-button fill="clear" (click)="readBarcode()">
                                <ion-icon slot="end" size="large" name="md-barcode" color="primary">
                                </ion-icon>
                            </ion-button>
                            
                        </span>
                </ion-input>
        
        
            </ion-col>
        
        </ion-row>

<ion-row justify-content-center>
<h4 >Ingrese el nombre del producto</h4>

</ion-row>

<ion-row class="ion-justify-content-center">
    
        <div class="autocomplete">
               
              <ion-input
                  [(ngModel)]="searchText"
                  (ionChange)="filter($event)"
                  (ionBlur)="removeFocus()"
                  placeholder="Busca el producto."
                  
                 >
                 <span>
                     <ion-icon name="md-search" size="large"></ion-icon>
                 </span>
              </ion-input>
            
              <ion-row *ngIf="spinnerAC" class="ion-justify-content-center">
                    <ion-spinner color="primary"></ion-spinner>
              </ion-row>
              
              <ion-list *ngIf="!spinnerAC">
                  <ion-item *ngFor="let p of aux_product_list" (click)="addNote(p)">
                      {{p.name}}
                  </ion-item>
              </ion-list>
            
          </div>
       
      </ion-row>

<!--<ion-row justify-content-center>

  <ion-col size=11 >

      <ion-input  type="text" [(ngModel)]="name">

        </ion-input>


    </ion-col>

</ion-row>-->

<ion-row justify-content-center>
    <h4 *ngIf="kind == 'Producto'">Ingrese el precio del producto</h4>
    <h4 *ngIf="kind == 'Servicio'">Ingrese el precio del servicio</h4>
  </ion-row>

  <ion-row align-items-center>
      <ion-col justify-content-center offset=1 size="10">
          
          <ion-input type="number" placeholder="Ingresa el importe." [(ngModel)]="price">
              <span>
                  <ion-select (ionChange)="currency_commission=prod_currency" [(ngModel)]="currency_price" class="select-currency" placeholder="Moneda">
                      <ion-select-option *ngFor="let c of countries" >
                        {{c.currencies[0].code}}
                      </ion-select-option>
                    </ion-select>
                 </span>
          </ion-input>
        </ion-col>
  </ion-row>

  <ion-row justify-content-center>
        <h4 >Ingrese el stock del producto</h4>
        
        </ion-row>
        
        <ion-row justify-content-center>
        
          <ion-col size=11 >
        
              <ion-input  type="number" [(ngModel)]="stock">
        
                </ion-input>
        
        
            </ion-col>

            <ion-item>
                <ion-label id="profile_image" color="primary" stacked>Agregar foto</ion-label>
                <ion-input type="file" accept="image/*" (change)="changeListener($event)"></ion-input>
              </ion-item>
        
        </ion-row>
  <ion-row justify-content-center>
      <ion-text color="danger" >{{messaje}} </ion-text>
  </ion-row>

  <ion-row justify-content-center>

        <ion-spinner *ngIf="spinner" name="crescent" color="primary" ></ion-spinner>
        
<ion-button *ngIf="!spinner" shape="round"  (click)="saveProduct()">
Guardar Producto
</ion-button>
  </ion-row>


</ion-content>
