
<ion-content padding="true">
      
    <ion-row>
        <ion-col padding size=8 offset=2>
                <ion-title color="primary">Nuevo producto</ion-title>
        </ion-col>

        <ion-col size=2>
                <ion-button  fill="clear" (click)="dismissModal()"> 
                        <ion-icon name="md-close" size="large" color="primary"></ion-icon>  
                        </ion-button>
        </ion-col>
            

    </ion-row>
<ion-card padding>
    <form [formGroup]="registroForm">
    <ion-row class="ion-justify-content-center">               
        <ion-label>Selecciona la categoria del producto</ion-label>
</ion-row >

  <ion-row class="ion-justify-content-center">
    <ion-col size=11>
        <ion-input (click)="ModalCategories()" readonly placeholder="Seleccione una categoria." name="category" [formControl]="category" required >
            <span class="item-right">
                <ion-icon slot="end" src="../../assets/ionicons/chevron-down-outline.svg">
                </ion-icon>
            </span>
               
              </ion-input>
    </ion-col>

  </ion-row>


  <ion-row class="ion-justify-content-center">               
      <ion-label>¿Qué tipo de producto quieres ofertar?</ion-label>
</ion-row >

<ion-row class="ion-justify-content-center">
    
    <ion-button class="btn-king" (click)="kind='Producto'" size="small">
    Producto
    <ion-icon *ngIf="kind=='Producto'" name="md-checkmark" slot="end" color="light"></ion-icon>
    </ion-button>
   
    
        <ion-button class="btn-king" (click)="kind='Servicio'" size="small">
        Servicio
        <ion-icon *ngIf="kind=='Servicio'" name="md-checkmark" slot="end" color="light"></ion-icon>
        </ion-button>
       <!-- <ion-button (click)="probar()">Probar</ion-button>-->
       
        
</ion-row>

        
        <ion-row class="ion-justify-content-center" *ngIf="kind=='Producto'">
        
          <ion-col size=11 >
        
              <ion-input style="font-size: small" type="number"  name="bar_code" [formControl]="bar_code"  placeholder="Escanea el código de barras.">
                    <span class="item-right">
                            <ion-button fill="clear" (click)="readBarcode()">
                                <ion-icon slot="end"  name="md-barcode" color="primary">
                                </ion-icon>
                            </ion-button>
                            
                        </span>
                </ion-input>
        
        
            </ion-col>
        
        </ion-row>

<ion-row class="ion-justify-content-center">
<ion-label >Ingrese el nombre del producto</ion-label>

</ion-row>

<ion-row class="ion-justify-content-center">
    
        <div class="autocomplete">
               <!--  [(ngModel)]="searchText"-->
              <ion-input
                
                  (ionChange)="filter($event)"
                  (ionBlur)="removeFocus()"
                  placeholder="Busca el producto."
                  name="searchText" [formControl]="searchText" required 
                  
                 >
                 <span>
                     <ion-icon name="md-search" size="large"></ion-icon>
                 </span>
              </ion-input>
            
              <ion-row *ngIf="spinnerAC" class="ion-justify-content-center">
                    <ion-spinner color="primary"></ion-spinner>
              </ion-row>
              
              <ion-list *ngIf="!spinnerAC">
                  <ion-item *ngFor="let p of aux_product_list" (click)="addNote(p)">
                      {{p.name}}
                  </ion-item>
              </ion-list>
            
          </div>
       
      </ion-row>

<!--<ion-row justify-content-center>

  <ion-col size=11 >

      <ion-input  type="text" [(ngModel)]="name">

        </ion-input>


    </ion-col>

</ion-row>-->

<ion-row class="ion-justify-content-center" style="margin-top: 20px;">
    <ion-label *ngIf="kind == 'Producto'">Ingrese el precio del producto</ion-label>
    <ion-label *ngIf="kind == 'Servicio'">Ingrese el precio del servicio</ion-label>
  </ion-row>

  <ion-row class="ion-justify-content-center">
      <ion-col class="ion-justify-content-center"  size="10">
          
          <ion-input type="number" placeholder="Ingresa el importe." name="price" [formControl]="price" >
              <span>
                  <ion-select #select  *ngIf="seller" name="currency_price" [formControl]="currency_price"  class="select-currency" placeholder="Moneda"  >
                      <ion-select-option *ngFor="let c of countries" >
                        {{c.currencies[0].code}}
                      </ion-select-option>
                    </ion-select>
                 </span>
          </ion-input>
        </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">
        <ion-label >Ingrese el stock del producto</ion-label>
        
        </ion-row>
        
        <ion-row justify-content-center>
        
          <ion-col size=11 >
        
              <ion-input  type="number" name="stock" [formControl]="stock" >
        
                </ion-input>
        
        
            </ion-col>

            <ion-item>
                <ion-label id="profile_image" color="primary" stacked>Foto</ion-label>
                <ion-input type="file" accept="image/*" (change)="changeListener($event)"></ion-input>
              </ion-item>
        
        </ion-row>
  <ion-row class="ion-justify-content-center" >
      <ion-text color="danger" >{{messaje}} </ion-text>
  </ion-row>

  <ion-row class="ion-justify-content-center" >

        <ion-spinner *ngIf="spinner" name="crescent" color="primary" ></ion-spinner>
        
<ion-button *ngIf="!spinner" shape="round"  (click)="saveProduct()" [disabled]="!registroForm.valid">
Guardar Producto
</ion-button>
  </ion-row>

</form>
</ion-card>
</ion-content>
