
<ion-content padding="true">
  <ion-toolbar>

    <ion-buttons slot="start" collapse="true">
      <ion-back-button mode="md" type="button" color="light" icon="md-arrow-back" defaultHref="seller-panel">
      </ion-back-button>
    </ion-buttons>
      <ion-row justify-content-center>
        <ion-col>
          
            <h1 style="color: rgb(41, 171, 226)">
               Mis ofertas
              </h1>
        </ion-col> 
      </ion-row>

</ion-toolbar>

<ion-list>
  <ion-card *ngFor="let offer of data_offers"  >
    <ion-card-content>


        <img class="img-list" src="../../assets/images/{{offer.category}}.jpg">

        <h4 *ngIf="offer.offer_name=='Precio'" style="color: aliceblue; background-color: rgba(0, 0, 0, 0.541); left: 2px;">
          {{offer.products[0].name}} a {{offer.price | currency: offer.price_currency}}
         </h4>
         <h4 *ngIf="offer.offer_name=='Gratis'" style="color: aliceblue; background-color: rgba(0, 0, 0, 0.541); left: 2px;">
           {{offer.products[0].name}} Gratis!
           {{offer.description}}
          </h4>
       <h4 *ngIf="offer.offer_name=='Descuento'" style="color: aliceblue; background-color: rgba(0, 0, 0, 0.541); left: 2px;">
         %{{offer.percentage}} de descuento en {{offer.category}}
         </h4>

        <ion-card-title *ngIf="offer.offer_name=='Precio'" >
           {{offer.products[0].name}} a {{offer.price | currency: offer.price_currency}} 
          </ion-card-title>

            <ion-card-title *ngIf="offer.offer_name=='Gratis'" > 
              {{offer.products[0].name}} Gratis!
            </ion-card-title>

            <ion-card-title *ngIf="offer.offer_name=='Descuento'" > 
              %{{offer.percentage}} de descuento en {{offer.category}}
            </ion-card-title>
        
            <ion-card-subtitle color="dark">{{offer.description}}</ion-card-subtitle>
          </ion-card-content>

              <ion-row justify-content-start>
         
                      <ion-col size=12>  

                        <ion-button  expand="block" color="primary" (click)="desAssociate(offer._id)" >
                            <ion-label>
                                Dejar de ofertar
                              </ion-label>
                            <ion-icon color="primary" name="md-create">
                              </ion-icon>

                            </ion-button>
                              </ion-col>
                                 
                    <!--     <ion-col size=6> 
                            <ion-button fill="outline" expand="block"color="primary" (click)="deleteOffer(offer._id)"> 
                                <ion-label>
                                    Eliminar
                                  </ion-label>
                        <ion-icon color="primary" name="md-trash">
                          </ion-icon>
                        </ion-button>
                          </ion-col>-->
                                  
  

              </ion-row>


  </ion-card>
</ion-list>

</ion-content>
<ion-footer>
  
      <ion-button (click)="goTo('new-offer')" shape="round" expand="block" >
          Nueva Oferta
        </ion-button>


</ion-footer>
