

  @font-face {
    font-family: 'roboto-bold';
    src: url('../../assets/fuentes/Roboto-Bold.ttf');//mine
   /* src: url('path/to/your/font/file');//path to your font file*/
  }
  
  * {
    font-family: 'roboto-bold';
  }


*
{
    font-family: 'roboto-black';
}



ion-back-button{

    --background:rgb(41, 171, 226);
    --border-radius: 40px;
   

  }



ion-input
{
   
    border-radius: 40px;
    
}

ion-icon
{

    color: rgba(173, 173, 173, 0.452);
    
}


.input-location
{
    align-content: center;
    background-color: rgb(236, 235, 235);
    border-radius: 40px;
    
}

.input-search
{
    
    border-style: solid;
    border-width: 1px;
    border-color: rgb(88, 207, 197);
    font-size: 15px;
    color: rgb(41, 143, 226);
    
}

/*img
{
    height: 20px;
    width: 27px;
}*/
.item-right
{
    position:absolute;
    padding: 11px;
    right: 1px;
 
}

ion-item
{
    margin-top:3px;

}

ion-list
{
    padding-top: 1px;
}

.img-list
{
   
    height: 100%; 
   // width: 100%;
    display: block;
    position: relative;		
    width: 100%;
    height: 135px;
    border-radius: 20px;
}

ion-item
{

    h4{
        display: block;
        position: absolute;	
        width: 300px;
        bottom: 5px;
     }

} 


ion-footer
{
    background-color: rgb(41, 171, 226);

}

img{
    height: 40px;
    width: 40px;
}

.modal
{
    background: rgba(255, 255, 255, 0.308);
    background-color: rgba(255, 255, 255, 0.315);
}









