



ion-back-button{

    --background:rgb(41, 171, 226);
    --border-radius: 40px;
   

  }

  ion-input{
      height: 50px;
      
      border-style: solid;
      border-width: 0px 0px 2px 0px;
      border-color: rgb(41, 171, 226);
     
      
  }
  .card-footer{
      bottom: 2px;
  }







.item-right
{
    position:absolute;
    padding: 11px;
    right: 1px;
 
}



    h4{
   
  
    
        color: black;
     }




ion-card{
    border-radius:15px;
    border-color: rgb(34, 186, 236);
    
}

.img-list
{
   
    height: 300px; 
    width: 300px;	
    border-radius: 20px;

}

ion-chip{
    font-size: x-small;
}





