

<ion-content padding="true">

<ion-toolbar>

            <ion-buttons slot="start" collapse="true">
                <ion-back-button color="light" icon="md-arrow-back" defaultHref="home">
                </ion-back-button>
                </ion-buttons>
            
            <h1>
                {{offer.title}}
              </h1>
  


</ion-toolbar>
<strong>DESCRIPCION DE LA PROMOCION:</strong> 

<p>
  {{offer.description}}
</p>

<agm-map [latitude]='latitude' [longitude]='longitude' 
  [zoom]="15"
  [mapTypeId]='mapType'>

  <agm-marker
  *ngFor="let marker of markers"
  [latitude]="marker.lat"
  [longitude]="marker.lng"
  [opacity]="marker.alpha"
  [markerDraggable]="true"
  [visible]="true"
  (markerClick)="selectMarker($event)"
>
</agm-marker>
</agm-map>

<ion-row justify-content-center>
  <ion-button shape="round" expand="block" color="primary">
Quiero esta oferta
  </ion-button>
</ion-row>

<ion-row>
  <h3>Mirá también:</h3>
</ion-row>
<ion-row>
  <ion-list>

      <ion-card *ngFor="let p of array_products">
        {{p.name}}
        {{p.price}}
      </ion-card>

  </ion-list>
</ion-row>



</ion-content>
