
$primary:rgb(41, 171, 226);

*{
    font-family: 'roboto-black';
}

#map { height: 78%; width: 100%; }


h1{
    color: rgb(41, 171, 226);
}

ion-back-button{
    --background:rgb(41, 171, 226);
}

/*agm-map { 
    height: 450px;
    max-height:none;
}

.agm-map-container-inner { width: inherit; height: inherit; } */
/*.agm-map-content { display:none; }*/
