
  <ion-toolbar>
    <ion-row>


        <ion-col size="2">

          <ion-buttons>
            <ion-menu-button color="primary" menu="first"></ion-menu-button>
          </ion-buttons> 
        
         
        </ion-col>
          
      
      <ion-col size=8 >
          <ion-input class="input-location">
                <ion-icon style="padding-left: 10px;" color="medium" name="md-pin" ></ion-icon>
            </ion-input>
      </ion-col>

      <ion-col size=2 >
        <ion-icon *ngIf="notification" size="large" name="md-alert" color="danger"></ion-icon>
              <ion-icon *ngIf="!notification" size="large" color="primary" name="md-notifications"></ion-icon>
        
       
      </ion-col>
    </ion-row>

    <ion-row>
        <ion-col size=10 offset=1>
          
          <ion-input class="input-search" (ionChange)="filter($event)" placeholder="¿Qué estas buscando?" color="primary" [(ngModel)]="busqeda" >
            <span>
                  <ion-icon style="padding-left: 10px;" size="large" name="md-search" color="primary-shade">
                    </ion-icon>
            </span>
            <span class="item-right">
              <ion-button style="
              border-left-style: solid;
              border-left-width: 1px;
              border-left: 'primary';" fill="clear" (click)="searchTools()" >
                  <ion-icon color="primary" name="md-options">
                    </ion-icon>

              </ion-button>

            </span>
    
          </ion-input>
        
        </ion-col>
      </ion-row>

     

          <ion-row *ngIf="search_tool" justify-content-center>
            

                <ion-button shape="round" color="primary">
                  Categoria
                </ion-button>
           
              
                  <ion-button shape="round" color="primary" >
                      fecha
                    </ion-button>
             
                    <ion-button shape="round" color="primary">
                         precio
                      </ion-button>
                 
               
            </ion-row>
    

      
     
  </ion-toolbar>


<ion-content padding="true">
<!---
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
     
      refreshingSpinner="crescent"
     >
    </ion-refresher-content>
  </ion-refresher>


 <ion-row justify-content-center>
    <div id="post"></div>

    <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@milioddino/video/6790810833573252357" data-video-id="6790810833573252357" style="height:300px; width: 250px; max-width: 350px;min-width: 250px;" > <section> <a target="_blank" title="@milioddino" href="https://www.tiktok.com/@milioddino">@milioddino</a> <p><a title="simba" target="_blank" href="https://www.tiktok.com/tag/simba">#simba</a> <a title="foryoupage" target="_blank" href="https://www.tiktok.com/tag/foryoupage">#foryoupage</a> <a title="fyp" target="_blank" href="https://www.tiktok.com/tag/fyp">#fyp</a></p> <a target="_blank" title="♬ Circle of life (Vocal) - monartoleon" href="https://www.tiktok.com/music/Circle-of-life-Vocal-6708400023643622150">♬ Circle of life (Vocal) - monartoleon</a> </section> </blockquote> <script async src="https://www.tiktok.com/embed.js"></script>
    
</ion-row>-->


  <ion-list>
    <ion-item (click)="goToOfferDetails(item)" lines="none" *ngFor="let item of aux_offer_list ">
     
          <img class="img-list" src="../../assets/images/{{item.category}}.jpg">

          <h4 style="color: aliceblue; left: 2px;"> {{item.product}} a {{item.price_currency}} {{item.price}}</h4>
      
    </ion-item>
  </ion-list>



</ion-content>


<ion-footer>
   <ion-row>

      <ion-col padding size=3>
            <img  src="../../assets/iconos/iconos oqr-35.png" alt="">
        </ion-col>
    
        <ion-col padding size=3>
            <img style="width: 48px;" src="../../assets/iconos/iconos oqr-36.png" alt="">
          </ion-col>
    
          <ion-col padding size=3>
              <img src="../../assets/iconos/iconos oqr-37.png" alt="">
            </ion-col>
    
            <ion-col padding size=3>
                <img src="../../assets/iconos/iconos oqr-38.png" alt="">
              </ion-col>

   </ion-row>


</ion-footer>

