
  <ion-toolbar>
    <ion-row>

        <ion-col size="2">
         <!-- <ion-button *ngIf="!logged" color="success" expand="block" shape="round" (click)="goToLogIn()">Log In</ion-button>-->
          <ion-buttons>
            <ion-menu-button color="primary" menu="first"></ion-menu-button>
          </ion-buttons> 
        
         
        </ion-col>
          
      
      <ion-col size=8 >
          <ion-input class="input-location">
                <ion-icon style="padding-left: 10px;" color="medium" name="md-pin" ></ion-icon>
            </ion-input>
      </ion-col>

      <ion-col size=1 >
        <div *ngIf="is_logged" >
        <ion-icon *ngIf="notification" size="large" name="md-alert" color="danger"></ion-icon>
        <ion-icon *ngIf="!notification" size="large" color="primary" name="md-notifications"></ion-icon>
      </div>
        <ion-button *ngIf="!is_logged" fill="clear" (click)="goToLogin()" >
          <ion-icon name="md-person" color="primary" size="large" ></ion-icon>
        </ion-button>
      </ion-col>

    </ion-row>

    <ion-row>
        <ion-col size=10 offset=1>
          
          <ion-input class="input-search" (ionChange)="filter($event)" placeholder="¿Qué estas buscando?" color="primary" [(ngModel)]="busqueda" >
            <span>
                  <ion-icon style="padding-left: 10px;" size="large" name="md-search" color="primary-shade">
                    </ion-icon>
            </span>
            <span class="item-right">
              <ion-button style="
              border-left-style: solid;
              border-left-width: 1px;
              border-left: 'primary';" fill="clear" (click)="searchTools()" >
                  <ion-icon color="primary" name="md-options">
                    </ion-icon>

              </ion-button>

            </span>
    
          </ion-input>
        
        </ion-col>
      </ion-row>
     

          <ion-row *ngIf="search_tool" justify-content-center>
            

                <ion-button shape="round" color="primary" (click)="categoryFilter()">
                  Categoria
                </ion-button>

                <ion-button shape="round" color="primary" (click)="getGeoLocation()">
                    Cerca de mi
                  </ion-button>
           
              
                  <ion-button shape="round" color="primary" >
                      fecha
                    </ion-button>
             
                    <ion-button shape="round" color="primary">
                         precio
                      </ion-button>
                 
               
            </ion-row>
    

      
     
  </ion-toolbar>


  <ion-content padding="true">


      <ion-list>
        <ion-row>
          <ion-col size-xs=12 size-sm=3 size-md=3  size-lg=3  size-xl=3 *ngFor="let item of aux_offer_list; let i = index ">
              <ion-item (click)="goToOfferDetails(item)" lines="none" >
         
                  <img class="img-list" src="../../assets/images/{{item.category}}.jpg">
        
                  <h4 class="col-sm-12" *ngIf="item.offer_name=='Precio'" style="color: aliceblue; background-color: rgba(0, 0, 0, 0.541); left: 2px;">
                     {{item.one_product[0].name}} a {{item.price | currency: item.price_currency}}
                    </h4>
                    <h4 class="col-sm-12" *ngIf="item.offer_name=='Gratis'" style="color: aliceblue; background-color: rgba(0, 0, 0, 0.541); left: 2px;">
                      {{item.one_product[0].name}} Gratis!
                      {{item.description}}
                     </h4>
                  <h4 class="col-sm-12" *ngIf="item.offer_name=='Descuento'" style="color: aliceblue; background-color: rgba(0, 0, 0, 0.541); left: 2px;">
                    %{{item.percentage}} de descuento en {{item.category}}
                    </h4>
              
            </ion-item>
    
          </ion-col>
    
      </ion-row>
      </ion-list>
    
    
    
    </ion-content>


<ion-footer class="ion-justify-content-center">
<ion-button expand="full" size="large" (click)="inputInfluecerCode()" >
    Código de influencer
</ion-button>



  <!--
   <ion-row>

      <ion-col padding size=3>
            <img  src="../../assets/iconos/iconos oqr-35.png" alt="">
        </ion-col>
    
        <ion-col padding size=3>
            <img style="width: 48px;" src="../../assets/iconos/iconos oqr-36.png" alt="" routerLink="/near-me">
          </ion-col>
    
          <ion-col padding size=3>
              <img src="../../assets/iconos/iconos oqr-37.png" alt="">
            </ion-col>
    
            <ion-col padding size=3>
                <img src="../../assets/iconos/iconos oqr-38.png" alt=""  routerLink="/my-account" >
              </ion-col>

              <ion-col padding size=3>
                <ion-button fill="clear" (click)="inputInfluecerCode()">
                    <ion-icon name="md-megaphone" size="large" color="light"></ion-icon>
                </ion-button>
               
              </ion-col>

   </ion-row>
   -->


</ion-footer>

