



  ion-input{
    height: 25px;
    text-align: center;

    
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: rgb(41, 171, 226);
   
    
}

.cont
{
    margin-top:30%;
    height: 300px;
    
    background-color: white;
}