
*
{
    font-family: 'roboto-medium';
    font-size: 13px;
    
}

ion-content{
    /*--padding-top:200px;*/
    --background: rgb(41, 171, 226);


}

.title {
    font-size: 40px;
    color: #e5e5e5;
    text-align: center;
    padding: 30px;
}

ion-input {
    --background: #e5e5e5;
    border-radius: 20px;
}
