
<ion-content>

  <ion-title class="title">Registrarse en OQR</ion-title>

  <ion-row>
    <ion-col size="4" offset="4">
      <ion-input placeholder=" Name"></ion-input>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="4" offset="4">
      <ion-input placeholder=" Username"></ion-input>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="4" offset="4">
      <ion-input placeholder=" Email"></ion-input>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="4" offset="4">
      <ion-input placeholder=" Password"></ion-input>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="4" offset="4">
      <ion-input placeholder=" Confirm Password"></ion-input>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="4" offset="4">
      <ion-button color="success" expand="block" shape="round" (click)="register()">Registrarse</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
