

<ion-content>

  <ion-toolbar>

          <ion-buttons slot="start" collapse="true">
            <ion-back-button mode="md" type="button" color="light" icon="md-arrow-back" defaultHref="home">
            </ion-back-button>
          </ion-buttons>
            <ion-row justify-content-center align-items-center>
              <ion-col size=3 offset=1>
                  <img src="../../assets/iconos/iconos oqr-31.png" alt="">
              </ion-col>
              <ion-col>
                  <h1 style="color: rgb(41, 171, 226)">
                      ¡Crear oferta!
                    </h1>
              </ion-col> 
            </ion-row>
      
  </ion-toolbar>

  <ion-row justify-content-start *ngIf="index > 0">
      
      <ion-button  color="primary" fill="clear" (click)="back()" >
          
          <ion-icon slot="start" name="md-arrow-back" size="large" color="primary">
              
          </ion-icon>
          Atras
        </ion-button>

  </ion-row>

    <ion-slides #slides pager="false" [options]="slideOpts" id="slide" (ionSlideWillChange)="setIndex()" >


        <ion-slide align-items-center>


 
          <div class="container">



                    <ion-row justify-content-center>               
                            <h4>Selecciona la categoria del producto</h4>
                    </ion-row >

                      <ion-row justify-content-center>
                        <ion-col size=11>
                            <ion-input (click)="ModalCategories()" readonly placeholder="Seleccione una categoria." [(ngModel)]="category" >
                                <span class="item-right">
                                    <ion-icon slot="end" src="../../assets/ionicons/chevron-down-outline.svg">
                                    </ion-icon>
                                </span>
                                   
                                  </ion-input>
                        </ion-col>

                      </ion-row>
        

                      <ion-row justify-content-center>               
                          <h4>¿Qué tipo de producto quieres ofertar?</h4>
                  </ion-row >

                    <ion-row justify-content-center>
<ion-col size=6>
<ion-button class="btn-king" (click)="kind='Producto'">
Producto
<ion-icon *ngIf="kind=='Producto'" name="md-checkmark" slot="end" color="light"></ion-icon>
</ion-button>
</ion-col>
<ion-col size=6>
    <ion-button class="btn-king" (click)="kind='Servicio'">
    Servicio
    <ion-icon *ngIf="kind=='Servicio'" name="md-checkmark" slot="end" color="light"></ion-icon>
    </ion-button>
    </ion-col>
    
                    </ion-row>
      

              <ion-row justify-content-center>
                  <h4 >Ingrese el nombre del producto</h4>

                </ion-row>
      
                  <ion-row justify-content-center>
      
                      <ion-col size=11 >
                 
                          <ion-input  type="text" [(ngModel)]="product">
      
                            </ion-input>


                        </ion-col>

                  </ion-row>
      
                  <ion-row justify-content-center>
                      <h4>Agrega una breve descripción de tu oferta</h4>
                    </ion-row>
              
              <ion-row justify-content-center>
                <ion-col size=11 >
                    <ion-textarea type="text"  maxlength=250 [(ngModel)]="description" ></ion-textarea> 
                </ion-col>
                       
          </ion-row>
          <ion-row justify-content-center>
              <strong> 250 Caracteres   </strong> 
          </ion-row>  

          </div>
 
        </ion-slide>



        <!-- /////////////////                  SLIDE 2                    ///////////////// -->

        <ion-slide align-items-start>

          <div class="container">

              <ion-row justify-content-center>
                  <h4 *ngIf="kind == 'Producto'">Ingrese el precio del producto</h4>
                  <h4 *ngIf="kind == 'Servicio'">Ingrese el precio del servicio</h4>
                </ion-row>
      
                <ion-row align-items-center>
                    <ion-col justify-content-center offset=1 size="10">
                        
                        <ion-input type="number" placeholder="Ingresa el importe." [(ngModel)]="price">
                            <span>
                                <ion-select (ionChange)="currency_commission=prod_currency" [(ngModel)]="prod_currency" class="select-currency" placeholder="Moneda">
                                    <ion-select-option *ngFor="let c of countries" >
                                      {{c.currencies[0].code}}
                                    </ion-select-option>
                                  </ion-select>
                               </span>
                        </ion-input>
                      </ion-col>
                </ion-row>

              <ion-row justify-content-center>
                  <h4>¿Cuento quieres pagar por cada venta?</h4>
                </ion-row>
    
                <ion-row align-items-center>
                    <ion-col justify-content-center offset=1 size="10">
                        
                        <ion-input type="number" placeholder="Ingresa el importe." [(ngModel)]="commission">
                            <span>
                                <ion-select disabled="true" [(ngModel)]=" currency_commission" class="select-currency" readonly placeholder="Moneda">
                                    <ion-select-option *ngFor="let c of countries">
                                      {{c.currencies[0].code}}
                                    </ion-select-option>
                                  </ion-select>
                               </span>
                        </ion-input>
                      </ion-col>
                </ion-row>

                <ion-row justify-content-center>
                    <ion-col justify-content-center size="10" >
                        <h4>¿Cuantas unidades quieres ofertar?</h4>
                    </ion-col>

                    <ion-col size=10 >
                        <ion-input type="number" placeholder="Ingresa la cantidad" [(ngModel)]="stock" ></ion-input>
                    </ion-col>
                  </ion-row>



          </div>
          
        </ion-slide>


        <!-- /////////////////                  SLIDE 4                    ///////////////// -->


<ion-slide align-items-start>
    <div class="container">
<ion-row justify-content-center>
  <h4>Detalle de tu oferta</h4>
</ion-row>


          <ion-list col-10>
            <ion-list-header style="text-align: center; font-size: large" >
             <ion-title>
                {{product}} por {{prod_currency}} {{price}}.
             </ion-title>
               
            </ion-list-header>
            <ion-item>
                <ion-label>Categoria del producto</ion-label>
                <ion-note color="primary" slot="end">{{category}}</ion-note>
              </ion-item>
              <ion-item>
                  <ion-label>Cantidad de ofertas</ion-label>
                  <ion-note color="primary" slot="end">{{stock}}</ion-note>
                </ion-item>
                <ion-item>
                    <ion-label>Precio del producto / servicio:</ion-label>
                    <ion-note color="primary" slot="end">{{prod_currency}}  {{price}} </ion-note>
                  </ion-item>
                <ion-item>
                    <ion-label>Comision por venta:</ion-label>
                    <ion-note color="primary" slot="end">{{currency_commission}}  {{commission}} </ion-note>
                  </ion-item>
                  <ion-item>
               
                        <ion-label style="font-size: large">
                            Comision total:
                         </ion-label>
                         <strong>
                            <ion-note style="font-size: large" color="primary" slot="end"> {{prod_currency}} {{commission * stock}}</ion-note>
                         </strong>
                            
                     
                    </ion-item>
          </ion-list>

          <ion-button (click)="saveOffer()" shape="round">
            Confirmar Oferta
          </ion-button>




      </div>

</ion-slide>

      </ion-slides>


</ion-content>



      <ion-row justify-content-end >
      
          <ion-button *ngIf="index != 2"  color="primary" fill="clear" (click)="next()" >
              Siguiente
              <ion-icon slot="end" name="md-arrow-forward" size="large" color="primary">
                  
              </ion-icon>
            </ion-button>
  
      </ion-row>



